@font-face {
  font-family: 'Bebas_Bold';
  src: url('../fonts/font/BebasNeue_Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas_Regular';
  src: url('../fonts/font/Bebas_Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro_Regular';
  src: url('../fonts/font/MyriadPro_Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansThai';
  src: url('../fonts/font/NotoSansThai-CondensedMedium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansThai_m';
  src: url('../fonts/font/NotoSansThai-CondensedSemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fonts/FontAwesome.otf");
  
}

/*ffe46d
561302*/

html {
  scroll-behavior: smooth;
}
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

a:hover{
  text-decoration: none !important;
}
 
 
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }
  .none-xxs{
    padding: -15px -15px -15px -15px !important;
  }
  .marx-15{
    margin-top: 15px;
  }
  .martop15{
    margin-top: 15px;
  }
  .col.ful{
    text-align: center;
  }
  .img-center{
    display: block;
    margin: auto;
  }
  .bg-top img.top-logo{
    max-width: 100px;
    margin-bottom: -30px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 
  .m-del-top{
    margin-top: -150px;
  }
  .padt10p{
    padding-top: 5px;
  }
  .bg-top img.top-logo{
    max-width: 200px;
  }
}
.bg-top{
  
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/Asset1.png") , url("../images/Home-Member/BG1.png") , url("../images/Home-Member/BG2S.png");
  background-color: #000;
  background-size: 100% auto;
  background-position: top;

}


.ful ul{
  list-style:  none;
  padding-left: 0px;
  margin-bottom: 0;
}
.ful ul li {
  display: inline-block;
  padding: 15px 15px 15px 0px;
}

.ful ul li.l{
  cursor: default;
  color: #fff;
  font-size: 20pt;
}

.ful ul li a{
  font-family: 'NotoSansThai';
  color: #fff;
}
.ful ul li a:hover{
  color: #F2AE33;
}
.menu-log{
  background-color: rgba(0,0,0,.6);
}
.menu-log form  {
  padding: 10px;
  padding-bottom: 5px;
}
.menu-log form input.form-control{
  color: #B2B2B2;
  font-size: 12pt;
  font-family: 'NotoSansThai';
  background-color: transparent;
  margin-right: 15px;  
  border-radius: 0px;
  border:none;
  padding-left: 5px;
  border-bottom: 2px solid #F2AE33;
}
.menu-log form input.form-control::placeholder {
  color: #B2B2B2;
  font-size: 14pt;
  font-family: 'NotoSansThai';
}



a.btn-show{
  width: 100%;
  
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #343a40;
  font-size: 11pt;
  font-family: 'NotoSansThai';
  background-color: #fff;
  border:1px solid #343a40;
  text-align: center;
  cursor: pointer;

}


a.btn-show.active{
  width: 100%;
  
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 11pt;
  font-family: 'NotoSansThai';
  background-color: #343a40;
  border:1px solid #343a40;
  text-align: center;
  cursor: pointer;
}
.menu-log form label{
  float: left; 
}
.menu-log form .remember{
  margin-top: 15px;
 
}
.menu-log form .remember a{
  color: #B2B2B2;
  font-size: 12pt;
  font-family: 'NotoSansThai'; 
  margin-left: 15px;
}

.menu-log form .remember a:hover{
  color: #F2AE33;
}
 



.th-x p.text{
  color: #B2B2B2;
  font-size: 18pt;
  font-family: 'Bebas_Regular';
  text-transform: uppercase;
  margin-top: 20px;
  float: right;
  margin-left: -15px;  
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 30px;
}
.th-x p.icon{
  right: 0;
  position: absolute;  
  font-size: 22pt;
  position: absolute;
  right: 0;
  top: 0;
  margin-top:  5px;
}
.th-x p.icon .fa-angle-up{
  margin-top: -15px;
  color: #B2B2B2;
}

.th-x p.icon .fa-angle-down{
  margin-top: 30px;
  color: #F2AE33;
}




.gotop{
  background-image: linear-gradient(to right, #ffe56e, #dcab4b, #b47430, #86431a, #571403);
  padding: 4px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 130px;
  margin-right: -30px;
 
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg); 
  z-index: 999;
}
.gotop .box1{
  background-color: #000;
  padding: 2px 4px;
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.gotop .box2{
  background-color: #000;
  width: 40px;
  height: 40px;
  float: left;
  display: inline-block;
  width: 120px;
  margin-left: 4px;  
  cursor: pointer;
}
.gotop .box1 a{
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.gotop .box2 a.m{ 
  padding-top: 8px;
  padding-left: 32px;
  float: left;text-align: center;
  display: inline-block;
}
.gotop .box2 a.m{
  font-family: 'NotoSansThai';
  color: #F2AE33;
  font-size: 14pt; 
}



.bot-tog{
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,.5);
  /*background-color: red;  rgba(0,0,0,.5) */
  width: 100px;  
  margin-left: 60px;
  margin-top: 48px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 6px;
}
.maxh{
  height: 155px;
}
.max15{
  height: 10px;
}
.bot-tog #mainc{  
  border-bottom:4px solid #f2ae33;
  height: 155px;
}
.bot-tog #mainc2{  
  border-bottom:3px solid #f2ae33;
  height: 10px;

}
.bot-tog #mainc h6:nth-child(1){
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  position: absolute;
  top: 0;
  padding: 5px;
  background-color: #39B44A;
  width: 120px;
  margin-left: -35px;
  margin-top: 60px;
  text-align: left;
  height: 30px;
}

.bot-tog #mainc h6:nth-child(2){
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  position: absolute;
  top: 0;
  padding: 5px;
  width: 120px;
  padding-left: 0px;
  background-color: #0071BB;
  text-align: left;
  margin-top:60px;  
  margin-left: 9px;
  height: 30px;
}


.bot-tog #mainc h6:nth-child(1) a{
  font-family: 'Bebas_Regular';
  font-size: 12pt;
  color: #fff ;
  padding-left: 15px;

}
.bot-tog #mainc h6:nth-child(2) a{
  font-family: 'Bebas_Regular';
  font-size: 12pt;
  color: #fff ;
  padding-left: 15px;
}

.disp{
  display: none;
}
.disn{
  display:block; 
}

.main-tb{  
 
}

.main-tb .main{
  background-image: linear-gradient(to bottom, #ffe46d, #ddac4b, #b67830, #8b481a, #5e1b05);
  padding: 15px;
  margin-top: -80px;
}



.checkx {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  margin-top: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #B2B2B2;
  font-size: 12pt;
  margin-left: 0px;
  font-family: 'NotoSansThai';
}
.checkx:hover{
  color: #F2AE33;
}

.checkx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

.checkx:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkx input:checked ~ .checkmark {
  background-color: #F2AE33;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkx input:checked ~ .checkmark:after {
  display: block;
}

.checkx .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.bg-regis{  
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/Asset1.png") , url("../images/Home-Member/BG1.png") , url("../images/Home-Member/BG2.png");
  background-color: #000;
  background-size: 100% auto;
  background-position: top;

}

.bg-regis img.top-logo{
  max-width: 200px;
}

 
.bg-regis .toph1 .col.text{
  background-image: linear-gradient(to right, #ffe46d, #dcaa4b, #b3742f, #864219, #561302);
  padding: 15px;
}
.bg-regis .toph1 .text h1{
  font-family: 'NotoSansThai';
  color: #000;
}
.bg-regis .toph1 .box{
  background-color: #1A1A1A;
  padding: 15px;
}

.bg-regis .toph1 .box .m{
  border: 2px solid #333333;
  padding: 30px;
}
.bg-regis .toph1 .box .m .col1{
  border-bottom: 2px solid #333333;
  padding-bottom: 20px;
}
.bgset .toph1 .box{
  background-color: #1A1A1A;
  padding: 15px;
}
.bgset .toph1 .box .m{
  border: 2px solid #333333;
  padding: 30px;
}
.bgset .toph1 .box .m .col1{
  border-bottom: 2px solid #333333;
  padding-bottom: 20px;
}

.bg-regis .toph1 .box .m .col1 span:nth-child(1){
  text-transform: uppercase;
  background-color: #F2AE33;
  color: #000;
  font-family: 'Bebas_Bold';
  font-size: 18px;
  padding: 8px 20px;
  border:2px solid #FFF6CD;
  margin-left: -15px;
}

.bg-regis .toph1 .box .m .col1 span:nth-child(2){ 
  color: #fff;
  font-family: 'NotoSansThai';
  font-size: 20px; 
  margin-left: 15px;
}

.bg-regis .form .tel{
  width: 40px;
  color: #B2B2B2;
  font-size: 14pt;
  font-family: 'Bebas_Regular';
}
.bg-regis .form .tel img{
  width: 40px;
}
.form .tel img{
  width: 40px;
}

.form .tel{
  width: 40px;
  color: #B2B2B2;
  font-size: 14pt;
  font-family: 'Bebas_Regular';
}

.form label{
  color: #fff;
  font-family: 'NotoSansThai';
  margin-top: 1rem;
}
 
.form label span{
  color: #F2AE33;
  font-family: 'Bebas_Regular';
  margin-top: 1rem;
}
.form label.la-h{
  color: #F2AE33;
  font-family: 'Bebas_Regular';
  margin-top: 1rem;
}

.alert-password{
  color: #B2B2B2;
  font-size: 14pt;
  font-family: 'NotoSansThai';
}
.formx{
  color: #B2B2B2;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #F2AE33;
}

.form small{
  color: #B2B2B2;
  font-size: 14pt;
  font-family: 'NotoSansThai';
  margin-top: 5px;
}
.en{
  font-family: 'Bebas_Regular';
}
.th{
  font-family: 'NotoSansThai';
}

.en-p::placeholder {
  font-family: 'Bebas_Regular';
}
.th-p::placeholder {
  font-family: 'NotoSansThai';
}
 



.form .form-group{
  margin-bottom: 0px;
}
footer{
  color: #B2B2B2;
  font-family: 'Bebas_Regular';
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1A1A1A;
}

.btn-box{
  border: 2px solid #333333;
  background-color: #1A1A1A;
  margin-bottom: -60px;
  padding: 15px;
}

.btn-box .tip{  
  border:1px solid #FFF6CD;
}
.btn-box .tip .col{  
  padding: 15px;
}
a.btn-back{
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
}
a.btn-next{
  width: 100%;
  display: block;
  text-align: center;
  color: #000;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #F2AE33;
  padding-top: 15px;
  padding-bottom: 15px;
}
a.btn-add{
  width: 100%;
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #008e45;
  padding-top: 15px;
  padding-bottom: 15px;
}
.filter-option-inner-inner{
  background-color: transparent;
  font-family: 'NotoSansThai';
  font-size: 14pt;
}
.set-sb{
  font-family: 'NotoSansThai';
  font-size: 14pt;
}
.bootstrap-select .dropdown-menu li:nth-child(1) a span.text{
  background: url(../images/Register_Bank/ktb-icon.png);
  background-size: 25px ;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: left;
  font-family: 'NotoSansThai';
  font-size: 14pt !important;
}
.bootstrap-select .dropdown-menu li:nth-child(2) a span.text{
  background: url(../images/Register_Bank/kbank-icon.png);
  background-size: 25px ;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: left;
  font-family: 'NotoSansThai';
  font-size: 14pt !important;
}
.bootstrap-select .dropdown-menu li:nth-child(3) a span.text{
  background: url(../images/Register_Bank/ks-icon.png);
  background-size: 25px ;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: left;
  font-family: 'NotoSansThai';
  font-size: 14pt !important;
}
.bootstrap-select .dropdown-menu li:nth-child(4) a span.text{
  background: url(../images/Register_Bank/scb-icon.png);
  background-size: 25px ;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: left;
  font-family: 'NotoSansThai';
  font-size: 14pt !important;
}

.bootstrap-select .btn-light {
  border: none !important;
}
.bootstrap-select .btn {
  border-radius: 0px;
}

.home{  
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/Asset1.png") , url("../images/Home-Member/BG1.png") ;
  background-color: #000;
  background-size: 100% auto;
  background-position: top;
}

.home .ful ul{
  list-style:  none;
  padding-left: -10px;
}
.home .ful ul li {
  display: inline-block;
  padding: 15px 15px 15px 0px;
}

.home .ful ul li.l{
  cursor: default;
  color: #fff;
  font-size: 20pt;
}

.home .ful ul li a{
  font-family: 'NotoSansThai';
  color: #fff;
}
.home .ful ul li a:hover{
  color: #F2AE33;
}

.home .menu-top{
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/MenuBar-01.png");
  background-size: 100% auto;
  background-position: top;
}

.home .menu-top .left-menu ul{
  list-style:  none;
  padding-left: 15px;
}
.home .menu-top .left-menu ul li{
  display: inline-block;
  width: 105px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 4px solid transparent;
}
.home .menu-top .left-menu ul li:hover{
  background-color: rgba(242,174,51,.26);
  border-bottom: 4px solid #F2AE33;
}
.home .menu-top .left-menu ul li.active{
  background-color: rgba(242,174,51,.26);
  border-bottom: 4px solid #F2AE33;
}
.home .menu-top .left-menu ul li a{
  font-family: 'NotoSansThai';
  font-size: 14pt;
  color: #fff;
  display: block;
  margin:auto;
  text-align: center;
  list-style: 40px;
}
.home .menu-top .left-menu ul li a img{
  height: 35px;
  margin-bottom: 5px;
}

.home .menu-top .right-menu ul{
  list-style:  none;
  padding-right: 15px;
}
.home .menu-top .right-menu ul li{
  display: inline-block;
  width: 105px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 4px solid transparent;
}
.home .menu-top .right-menu ul li:hover{
  background-color: rgba(242,174,51,.26);
  border-bottom: 4px solid #F2AE33;
}
.home .menu-top .right-menu ul li.active{
  background-color: rgba(242,174,51,.26);
  border-bottom: 4px solid #F2AE33;
}

.home .menu-top .right-menu ul li a{
  font-family: 'NotoSansThai';
  font-size: 14pt;
  color: #fff;
  display: block;
  margin:auto;
  text-align: center;
  list-style: 40px;
}
.home .menu-top .right-menu ul li a img{
  height: 35px;
  margin-bottom: 5px;
}
.home .menu-top  ul li a:hover{
  color: #F2AE33;
}

.home .menup{
  background-image: linear-gradient(to right, #ffe46d, #dcaa4b, #b3742f, #864219, #561302);
  margin-top: -18px;
  padding: 10px;
  display: inline-block;z-index: 99;
}

img.user-profile{
  height: 60px;
  border-radius: 100%;
  border: 4px solid #F2AE33;
  display: inline-block;
  float: left;
}

button.dropdown-toggle.listx{
  color: #000;
  font-size: 18pt;
  font-family: 'Bebas_Regular';
  display: inline-block;
  float: left;
}
button.dropdown-toggle.listx:active{
  border: none;
}
.menup .dropdown{
  padding: 0px !important;
}
.menup .dropdown .top-user-m{
  text-align: center;
  padding: 10px 15px;
}
.menup .dropdown .top-user-m div{
  border:2px solid #F2AE33;
  padding: 10px 5px;
  cursor: default;
}
.menup .dropdown .top-user-m div img{
  width: 20px;
  margin-top: -6px;
}
.menup .dropdown .top-user-m div span{
  font-size: 16pt;
  font-family: 'Bebas_Regular';
  color: #000;
}
.menup .dropdown  .dropdown-menu a.dropdown-item{
  padding-left: 15px;
  background-color: #fff;
  color: #4D4D4D;
  font-family: 'NotoSansThai';
  font-size: 14pt;
  border-bottom: 1px solid #F1F1F1;
}
.menup .dropdown  .dropdown-menu a.dropdown-item:hover{
  background-color: #F2AE33;
  color: #fff;
}
.menup .dropdown  .dropdown-menu a.dropdown-item:last-child{
  padding-left: 15px;
  background-color: #F2AE33;
  color: #fff;
}


.menup .dropdown  .dropdown-menu a.dropdown-item img{  
  width: 15px;
  margin-right: 5px;
}
 

.menup .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}

.menup-right{
  float: right;
}
 
.menup-right .th-x p.text{
  color: #fff;
  font-size: 22pt;
  font-family: 'Bebas_Regular';
  text-transform: uppercase;
  margin-top: 15px;
  float: right;
  margin-left: -15px;  
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 50px;
}
.menup-right .th-x p.icon{
  right: 0;
  position: absolute;  
  font-size: 14pt;
  position: absolute;
  right: 0;
  top: 0;
  margin-top:  5px;
}
.menup-right .th-x p.icon .fa-angle-up{
  margin-top: 10px;
  color: #B2B2B2;
  margin-right: 20px;
}

.menup-right .th-x p.icon .fa-angle-down{
  margin-top: 30px;
  color: #F2AE33;
  margin-right: 20px;
}

.menup-right .th-x img{
  height: 40px;
  margin-right: 70px;
  margin-top: -5px;
  margin-left: 30px;
}

.main-coin{  
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/BG2S.png") , url("../images/Home-Member/coin1.png") ;
 
  background-size: 100% auto;
  background-position: top;
  margin-top: -20px;
  z-index: 9;
}



.main-coin .circle-box h1{
  color: #F2AE33;
  text-align: center;
  font-family: 'Bebas_Regular';
 
}
.main-coin .circle-box h5{
  color: #fff;
 
  font-family: 'NotoSansThai';
}
.bg-btn{
  background-color: #1A1A1A;
  padding: 15px;
}

a.deposit {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 18pt;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #008e45;
  padding-top: 15px;
  padding-bottom: 15px;
}
a.withdraw  {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 18pt;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #C0272D;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bgwr{
  background-image: linear-gradient(to right, #ffe46d, #dcaa4b, #b3742f, #864219, #561302);
  padding: 15px;
}
.bgwr h1{
  margin: 0 !important;
  padding: 0 !important;
  color: #000;
  font-family: 'NotoSansThai';  
}
.bgwr h1.en{
  margin: 0 !important;
  padding: 0 !important;
  color: #000;
  font-size: 36pt;
  font-family: 'Bebas_Regular';  
}
.labelxs{
  text-transform: uppercase;
  background-color: #F2AE33;
  color: #000;
  padding: 8px 20px;
  border:2px solid #FFF6CD;
  margin-top: 15px;
  cursor: pointer;
}

.body1{
  background-color: #1A1A1A;
  padding: 15px;
}

.body1 .stylex{
  border: 2px solid #333333;
  padding: 5px 15px;
  background-color: #1A1A1A;
}

.body1 .stylex .num-cou  {
  padding: 15px !important;
}
.body1 .stylex .num-cou .row .col-4 {
  padding: 2px; 
  padding-top: 5px;
  padding-bottom: 5px; 

}
.body1 .stylex .num-cou .row .col-4 div{
  color: #fff;
  font-family: 'NotoSansThai';
  font-size: 14px;
  border:2px solid #333;
  text-align: center;
  cursor: pointer;
}
.body1 .stylex .num-cou .row .col-4 img{
  width: 30px;
}
.body1 .stylex .num-cou .row .col-4 div.active{
  border:2px solid #fff;
}



.body2 .stylex .num-cou  {
  padding: 15px !important;
}
.body2 .stylex .num-cou .row .col-4 {
  padding: 2px; 
  padding-top: 5px;
  padding-bottom: 5px; 
}
.body2 .stylex .num-cou .row .col-4 div{
  color: #000;
  font-family: 'NotoSansThai';
  font-size: 14px;
  border:2px solid #E5E5E5;
  text-align: center;
  cursor: pointer;
}
.body2 .stylex .num-cou .row .col-4 img{
  width: 30px;
}
.body2 .stylex .num-cou .row .col-4 div.active{
  border:2px solid #000;
}

 




.body1 .stylex .lotto-num  {
  padding: 15px !important;
}
.body1 .stylex .lotto-num .row div {
  padding: 2px; 
  padding-top: 5px;
  padding-bottom: 5px; 
}
.body1 .stylex .lotto-num .row div div{
  color: #fff;
  font-family: 'NotoSansThai';
  font-size: 14px;
  border:2px solid #333;
  text-align: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.body1 .stylex .lotto-num .row div img{
  width: 30px;
}
.body1 .stylex .lotto-num .row div div.active{
  border:2px solid #fff;
}


.body2 .stylex .lotto-num  {
  padding: 15px !important;
}
.body2 .stylex .lotto-num .row div {
  padding: 2px; 
  padding-top: 5px;
  padding-bottom: 5px; 
}
.body2 .stylex .lotto-num .row div div{
  color: #000;
  font-family: 'NotoSansThai';
  font-size: 14px;
  border:2px solid #E5E5E5;
  text-align: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.body2 .stylex .lotto-num .row div img{
  width: 30px;
}
.body2 .stylex .lotto-num .row div div.active{
  border:2px solid #000;
}



.body1 .stylex .col-m{
  border-bottom: 2px solid #333333; 
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.body1 .stylex .col-m span{ 
  color: #fff;
  font-family: 'NotoSansThai';
  margin-left: -15px;
}
.body1 .stylex .col-m span.label{
  text-transform: uppercase;
  background-color: #F2AE33;
  color: #000;
  font-family: 'Bebas_Bold';
  padding: 4px 15px;
  border:2px solid #FFF6CD;
  margin-left: 15px;
}
.body1 .stylex .col-b{
  border: 2px solid #333333; 
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #fff;
  font-family: 'Bebas_Bold';
  font-size: 14px;
}


.body1 .stylex .box3{
  border: 2px solid #333333; 
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top:10px;
}
.body1 .stylex .box3 h3{
  text-align: center;
  font-size: 13pt;
  color: #C0272D;  
  font-family: 'NotoSansThai';
  border-bottom: 2px solid #333333; 
  padding-bottom: 5px;
  margin-top: -4px;
}
.body1 .stylex .box3 h4{
  text-align: center;
  font-size: 12pt;
  color: #fff;  
  font-family: 'Bebas_Bold';
  margin-bottom: -5px;
}
.body1 .stylex .box3 img{
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8px;
  margin-left: 8px;
}


.body2{
  background-color: #fff;
  padding: 15px;
}
.body2 .stylex{
  border: 2px solid #E5E5E5;
  padding:5px 15px;
}
.body2 .stylex  .col-m{
  border-bottom: 2px solid #E5E5E5; 
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.body2 .stylex  .col-m span{ 
  color: #000;
  font-family: 'NotoSansThai';
  font-size: 16px; 
  margin-left: -15px;
}
.body2 .stylex  .col-m span.label{
  text-transform: uppercase;
  background-color: #F2AE33;
  color: #000;
  font-family: 'Bebas_Bold';
  font-size: 16px;
  padding: 4px 15px;
  border:2px solid #FFF6CD;
  margin-left: 15px;
  border-radius: 15px;
}
.body2 .stylex  .col-b{
  border: 2px solid #E5E5E5; 
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #000;
  font-family: 'Bebas_Bold';
  font-size: 14px;
}


.body2 .stylex .box3{
  border: 2px solid #E5E5E5; 
  padding-top: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.body2 .stylex .box3 h3{
  text-align: center;
  font-size: 13pt;
  color: #C0272D;  
  font-family: 'NotoSansThai';
  border-bottom: 2px solid #E5E5E5; 
  padding-bottom: 5px;
  margin-top: -4px;
}
.body2 .stylex .box3 h4{
  text-align: center;
  font-size: 12pt;
  color: #000;  
  font-family: 'Bebas_Bold';
  margin-bottom: -5px;
}




.body-news1{
  background-color: #1A1A1A;
  padding: 30px 15px;
}
.body-news1 .news span{
  background-color: #F2AE33;
  font-size: 14pt;
  color: #000;  
  font-family: 'NotoSansThai';
  padding:4px 10px;
  cursor: default;
}
.body-news1 .news hr{
  border-bottom: 2px solid #F2AE33;
}
.body-news1 .news a{
  font-size: 14pt;
  color: #B2B2B2;  
  font-family: 'NotoSansThai';
}
.body-news1 .news h3{
  margin-top: 10px;
}
.body-news1 .news h3 a{
  font-size: 20pt;
  color: #fff;  
  font-family: 'NotoSansThai';
}




.body-news2{
  background-color: #fff;
  padding: 30px 15px;
}
.body-news2 .news span{
  background-color: #F2AE33;
  font-size: 14pt;
  color: #000;  
  font-family: 'NotoSansThai';
  padding:4px 10px;
  cursor: default;
}
.body-news2 .news hr{
  border-bottom: 2px solid #F2AE33;
}
.body-news2 .news a{
  font-size: 14pt;
  color: #000;  
  font-family: 'NotoSansThai';
}
.body-news2 .news h3{
  margin-top: 10px;
}
.body-news2 .news h3 a{
  font-size: 20pt;
  color: #000;  
  font-family: 'NotoSansThai';
}
.body2 .stylex .box3 img{
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8px;
  margin-left: 8px;
}

a.btn-hide{
  
 
  text-align: center;
  color: #000;
  font-size: 16pt;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #F2AE33;
  padding: 5px 20px;
}


.body1{
  background-color: #1A1A1A;
  padding: 15px;
}

.alert{
  color: #fff;  
  text-align: center;
  font-family: 'NotoSansThai';
  background-color: #F6921E;
  border-radius: 15px;
}



.modal .modal-content{
  border-radius: 0;
}
.modal .close{
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  margin-top: -30px;
}
.modal .close i{
  color: #fff;
  z-index: 1050;
}

.modal p{
  font-size: 30px;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #39B44A;
  display: block;
  margin: auto;
  padding-top: 5px;
  margin-top: 20px;
}
.modal p.wrong{
  font-size: 30px;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #f6921e;
  display: block;
  margin: auto;
  padding-top: 5px;
  margin-top: 20px;
}
.modal h2{
  font-size: 16pt;
  color: #000;  
  text-align: center;
  font-family: 'NotoSansThai';
  margin-top:20px;
  margin-bottom:20px;
}
.modal h3{
  font-size: 14pt;
  color: #4D4D4D;  
  text-align: center;
  font-family: 'NotoSansThai';
  margin-top:20px;
  margin-bottom:20px;
}

.modal .form-check-label{
  font-size: 14pt;
  color: #4D4D4D;  
 
  font-family: 'NotoSansThai';
}


.modal a.btn-ok{
  font-size: 16pt;
  color: #fff;  
  text-align: center;
  font-family: 'NotoSansThai';
  background-color: #39B44A;
  margin-top:20px;
  padding: 5px 20px;
}
.modal a.btn-wrong{
  font-size: 16pt;
  color: #fff;  
  text-align: center;
  font-family: 'NotoSansThai';
  background-color: #C0272D;
  margin-top:20px;
  padding: 5px 20px;
}

 
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  bottom: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #F2AE33;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;

}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #F2AE33;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f030";
  font-family: 'FontAwesome';
  color: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  padding-left: 2px;
  padding-top: 10px;
  text-align: center;
  margin: auto;
  font-size: 16px;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F2AE33;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-date{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  
}
.icon-date img{
  width: 30px;
  margin-top: -25px;
}



.number-list .number{
  background-color: #F1F1F1;
  padding: 15px;
  border: 2px solid  #333333;
}
.number-list .number .maintb{
  background-color: #E5E5E5;
  padding: 0;
  border: 2px solid  #FFFFFF;
}

.number-list .number .maintb .titletb{
  font-size: 16pt;
  color: #000;  
  font-family: 'NotoSansThai';
  background-color: #F2AE33;
  padding: 15px;
}

.number-list .number .maintb .bodytb{
  padding: 15px;
}

a.add-num{
  width: 100%;
  display: block;
  background-color: #009145;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:8px;
  text-align: center;
  border: 2px solid #fff;
}


form.search-bpx input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid #fff;
  float: left;
  width: 70%;
  background: #E5E5E5;
  height: 54px;
  font-size: 16pt;
  color: #fff;  
  font-family: 'Bebas_Regular';
}

form.search-bpx button {
  float: left;
  width: 30%;
  height: 54px;
  background: #F2AE33;
 
  border: 2px solid #fff;
  border-left: none;
  cursor: pointer;
  color: #fff;  
  font-family: 'NotoSansThai';
}

/*form.search-bpx button:hover {
  background: #0b7dda;
}
*/
form.search-bpx::after {
  content: "";
  clear: both;
  display: table;
}
.table table{
  border: 2px solid #fff;
}
.table table thead{
  background-color: #F2AE33;
  border: 2px solid #fff;
  color: #000;  
  font-family: 'NotoSansThai';

}
.table table tbody{
  color: #4D4D4D;  
  font-family: 'Bebas_Regular';
}

.table table tbody tr:nth-child(odd){
  background-color: #E5E5E5;
}
.table table tbody tr:nth-child(even){
  background-color: #CCCCCC;
}
.table table tbody tr td:nth-child(1){
  width:40%;
}
.table table tbody tr td:nth-child(2){
  width:40%;
}
.table table tbody tr td:nth-child(3){
  width:20%;
}
.table table tbody tr td a{
  color: #4D4D4D; 
  margin-right: 10px; 
}


.table2 table{
  border: 2px solid #fff;
}
.table2 table thead{
  background-color: #F2AE33;
  border: 2px solid #fff;  color: #000;  
  font-family: 'NotoSansThai';
}
.table2 table tbody{
  color: #4D4D4D;  
  font-family: 'Bebas_Regular';
}
.table2 table tbody tr:nth-child(odd){
  background-color: #E5E5E5;
}
.table2 table tbody tr:nth-child(even){
  background-color: #CCCCCC;
}
.table2 table tbody tr td:nth-child(1){
  width:5%;
}
.table2 table tbody tr td:nth-child(2){
  width:30%;
  font-family: 'NotoSansThai';
}
.table2 table tbody tr td:nth-child(3){
  width:65%;
}

.show-tabel{
  font-size: 14pt;
  color: #4D4D4D;  
  font-family: 'NotoSansThai';
  padding-bottom: 15px;
}
.show-tabel input{
  width: 50px;
  font-size: 14pt;
  color: #4D4D4D;  
  font-family: 'Bebas_Regular';
  padding-left: 10px;
}

.next-table ul{
  list-style: none;
  padding: 0;
}
.next-table ul li{
  display: inline-block;
 
  padding: 0;
  text-align: center;
}
.next-table ul li a{
   border: 2px solid #fff;
   padding: 7px 15px;
   margin-left: -5px;
}


.next-table ul li.prev a{
  background-color: #CCCCCC;
  color: #fff;
}
.next-table ul li.numbet a{
  background-color: #E5E5E5;
  color: #4D4D4D;
}
.next-table ul li.next a{
  background-color: #F2AE33;
  color: #fff;
}

.number-list .number .maintb .number-create{
  padding: 15px;
}
.number-list .number .maintb .number-create h3{
  font-size: 16pt;
  color: #4D4D4D;  
}
.number-create form label{
  font-size: 16pt;
  color: #4D4D4D;  
}


.number-create form .form-ex{
  background-color: #F2F2F2;
  border-radius: 0;
}


.number-create form select.form-control{
  color: #4D4D4D;  
  font-family: 'NotoSansThai';
  padding-bottom: 16px;
  background-color: #F2F2F2;
  border-radius: 0;
  padding: 0;
  padding-left: 15px;
}

.number-create form .input-group-append span.input-group-text{
  background-color: #B3B3B3;
  border-radius: 0 !important;
  color: #fff;

}
.number-create form .input-group-append span.input-group-text.active{
  background-color: #F2AE33;
  border-radius: 0px !important;

}

a.btn-create{
  width: 100%;
  display: block;
  background-color: #0071BC;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:4px;
  text-align: center;
  border: 2px solid #fff;
}


a.btn-cancle{
  width: 100%;
  display: block;
  background-color: #B2B2B2;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:4px;
  text-align: center;
  border: 2px solid #fff;
}

a.btn-save{
  width: 100%;
  display: block;
  background-color: #009145;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:4px;
  text-align: center;
  border: 2px solid #fff;
}
.text-hd{
  color: #4D4D4D;
  margin-top: 15px;
  margin-bottom: 15px;  
}
.text-hd .b{
  font-size: 16pt;
  color: #000;  
}

a.btn-del{
  width: 100%;
  display: block;
  background-color: #C1272D;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:4px;
  text-align: center;
  border: 2px solid #fff;
}



@media only screen and (max-width: 991px) { /* MOBILE */
  footer{
    font-size: 11pt;
  }
  .bg-regis .toph1 .text h1{
    font-size: 22pt;
  }
  .bgwr h1{
    font-size: 22pt;
  }
  .ful ul li a{
    font-size: 14pt;
  }
  .home .ful ul li a{
    font-size: 14pt;
  }
  .btn-x img{ 
    margin-right: 15px;
    margin-top: 20px;
    width: 80%;
    display: block;
  }
  .th-x{
    margin-top: -50px;
  }
  .body1 .stylex .col-m span{ 
    font-size: 14px; 
  }
  .body1 .stylex .col-m span.label{
    font-size: 14px;
  }
  
  .main-coin .circle-box{
    background-color: rgba(0,0,0,.6);
    border-radius: 100%;
    border: 4px solid #a1782f;
    height: 250px;
    width: 250px;
    text-align: center; 
    padding-top: 15%;
  }
  .main-coin .circle-box h1{
    font-size: 30pt;
  }
  .main-coin .circle-box h5{
    font-size: 14pt;
    text-align: center !important; 
  }
  .circle-box img{
    max-width: 80px;
  }
  .labelxs{
    font-size: 13pt;
  }
  .number-list{
    background-color: #1A1A1A;
    padding: 10px;
  }
  a.btn-back{
    font-size: 14pt;
  }
  a.btn-create{
    font-size: 14pt;
  }
  a.btn-cancle{
    font-size: 14pt;
  }
  a.btn-save{
    font-size: 14pt;
  }
  .text-hd{
    font-size: 12pt;
  }
  .table2 table tbody{
    font-size: 12pt;
  }
  a.btn-del{
    font-size: 12pt;
  }
  .table2 table thead{
    font-size: 14pt;
  }
  .home img.top-logo{
    max-width: 160px;
  }
  a.add-num{
    font-size: 14pt;
  }
  form.search-bpx button {
    font-size: 11pt;
  }
  .table table thead{
    font-size: 13pt;
  }
  .table table tbody{
    font-size: 11pt;
  }
  .alert{
    font-size: 12pt;
  }
  a.btn-next{
    font-size: 14pt;
  }
  a.btn-add{
    font-size: 14pt;
  }
  .form label{
    font-size: 14pt;
  }
   
  .form label span{
    font-size: 14pt;
  }
  .form label.la-h{
    font-size: 14pt;
  }
  .formx{
    font-size: 14pt;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  footer{
    font-size: 14pt;
  }
  .bg-regis .toph1 .text h1{
    font-size: 18pt;
  }
  .bgwr h1{
    font-size: 22pt;
  }
  .ful ul li a{
    font-size: 16pt;
  }
  .home .ful ul li a{
    font-size: 16pt;
  }
  .btn-x img{
    height: 40px;
    margin-right: 15px;
    margin-top: 20px;
  }
  .body1 .stylex .col-m span{ 
    font-size: 18px; 
  }
  .body1 .stylex .col-m span.label{
    font-size: 16px;
  }  
  .main-coin .circle-box{
    background-color: rgba(0,0,0,.6);
    border-radius: 100%;
    border: 4px solid #a1782f;
    height: 400px;
    width: 400px;
    text-align: center; 
    padding-top: 6%;
  }
  .main-coin .circle-box h1{
    font-size: 48pt;
  }
  .main-coin .circle-box h5{
    font-size: 20pt;
  }
  .circle-box img{
    max-width: 140px;
  }
  .labelxs{
    font-size: 14pt;
  }
  .number-list{
    background-color: #1A1A1A;
    padding: 30px;
  }
  a.btn-back{
    font-size: 14pt;
  }
  a.btn-create{
    font-size: 14pt;
  }
  a.btn-cancle{
    font-size: 16pt;
  }
  a.btn-save{
    font-size: 16pt;
  }
  .text-hd{
    font-size: 16pt;
  }
  .table2 table tbody{
    font-size: 16pt;
  }
  a.btn-del{
    font-size: 14pt;
  }
  .table2 table thead{
    font-size: 16pt;
  }
  .home img.top-logo{
    max-width: 250px;
  }
  a.add-num{
    font-size: 16pt;
  }
  form.search-bpx button {
    font-size: 16pt;
  }
  .table table thead{
    font-size: 14pt;
  }
  .table table tbody{
    font-size: 12pt;
  }
  .alert{
    font-size: 14pt;
  }
  a.btn-next{
    font-size: 16pt;
  }
  a.btn-add{
    font-size: 14pt;
  }
  .form label{
    font-size: 14pt;
  }
   
  .form label span{
    font-size: 14pt;
  }
  .form label.la-h{
    font-size: 14pt;
  }
  .formx{
    font-size: 12pt;
  }

}

.stylex .col-lg-3{
  padding-left: 5px;
  padding-right: 5px;
}

.stylex .row .col{
  padding-left: 2px;
  padding-right: 2px;
}
.stylex .row .col .col{
  padding-left: 5px;
  padding-right: 5px;
}
.stylex .row .col-lg-4{
  padding-left: 5px;
  padding-right: 5px;
}
.stylex  .col-b{
  margin-left: -10px;
  margin-right: -10px;
}

@media only screen and (width:768px) {
  .main-coin .circle-box{
    background-color: rgba(0,0,0,.6);
    border-radius: 100%;
    border: 4px solid #a1782f;
    height: 250px;
    width: 250px;
    text-align: center; 
    padding-top: 6%;
  }
}


/*F2AE33*/