/*
 *
 *
 *
 * Bootstrap 4 Component - Custom switch
 * Version: 1.1.2
 * Copyright (c) 2017-18 Martin Haubek
 *
 *
 *
 */

.custom-switch {
  line-height: 12px;
}

.custom-switch .custom-switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-switch .custom-switch-input,
.custom-switch .custom-switch-input:after,
.custom-switch .custom-switch-input:before,
.custom-switch .custom-switch-input *,
.custom-switch .custom-switch-input *:after,
.custom-switch .custom-switch-input *:before,
.custom-switch .custom-switch-input+.custom-switch-btn {
  box-sizing: border-box;
}

.custom-switch .custom-switch-input:selection,
.custom-switch .custom-switch-input:after:selection,
.custom-switch .custom-switch-input:before:selection,
.custom-switch .custom-switch-input *:selection,
.custom-switch .custom-switch-input *:after:selection,
.custom-switch .custom-switch-input *:before:selection,
.custom-switch .custom-switch-input+.custom-switch-btn:selection {
  background: none;
}

.custom-switch .custom-switch-input+.custom-switch-btn {
  outline: 0;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 64px;    
  background: #E5E5E5;   
  transition: all 150ms ease;
  border:2px solid #F2AE33;
}
.custom-switch .custom-switch-input+.custom-switch-btn span{
  color: black;
  position: absolute;
  left: 0;
  z-index: 99;
  margin-left: 10px;
  font-size: 18pt;
  margin-top: 8px;
}


.custom-switch .custom-switch-input+.custom-switch-btn:after,
.custom-switch .custom-switch-input+.custom-switch-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
}

 
.custom-switch .custom-switch-input+.custom-switch-btn:after {
  background: white;
  transition: all 150ms ease;
}
.custom-switch .custom-switch-input:checked+.custom-switch-btn:after {
  background: #1A1A1A;
  transition: all 150ms ease;
}


.custom-switch .custom-switch-input+.custom-switch-btn:before {
  display: none;
}

.custom-switch .custom-switch-input+.custom-switch-btn.text-hide {
  top: -.80rem;
}

 
.custom-switch .custom-switch-input:checked+.custom-switch-btn {
  background: #000;
}

.custom-switch .custom-switch-input:checked+.custom-switch-btn span {
  color: white;
  position: absolute;
  right: 0;
  z-index: 99;
  margin-right: 10px;
  font-size: 18pt;
  margin-top: 8px;
}
.custom-switch .custom-switch-input:checked+.custom-switch-btn:after {
  left: 30px;
}
.custom-switch .custom-switch-input:checked+.custom-switch-btn:after {
  left: 30px;
}

.custom-switch .custom-switch-input:checked+.custom-switch-btn~.custom-switch-content-checked {
  opacity: 1;
  height: auto;
}

.custom-switch .custom-switch-input:checked+.custom-switch-btn~.custom-switch-content-unchecked {
  display: none;
  opacity: 0;
  height: 0;
}

.custom-switch .custom-switch-input:not(:checked)+.custom-switch-btn~.custom-switch-content-checked {
  display: none;
  opacity: 0;
  height: 0;
}

.custom-switch .custom-switch-input:not(:checked)+.custom-switch-btn~.custom-switch-content-unchecked {
  opacity: 1;
  height: auto;
}

.custom-switch .custom-switch-input[disabled]+.custom-switch-btn {
  background: rgba(173, 181, 189, 0.6);
  cursor: default;
}

.custom-switch .custom-switch-input[disabled]:checked+.custom-switch-btn {
  background: rgba(40, 167, 69, 0.4);
}

.custom-switch .custom-switch-input:not([disabled]):focus~.custom-switch-btn {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.25rem rgba(56, 123, 189, 0.25);
}

.custom-switch .custom-switch-input[required]~.custom-switch-btn {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.125rem rgba(220, 53, 69, 0.5);
}

.custom-switch .custom-switch-form-text {
  display: inline-block;
  height: 38px;
  margin-left: .5rem;
  line-height: 38px;
  vertical-align: top;
}
 

.custom-switch.custom-switch-label-status .custom-switch-input:checked+.custom-switch-btn:after {
  left: 58px;
}

.custom-switch-sm {
  line-height: 11px;
}

.custom-switch-sm .custom-switch-input+.custom-switch-btn {
  width: 60px;
  height: 31px;
  padding: 3px;
  border-radius: 62px;
}

.custom-switch-sm .custom-switch-input+.custom-switch-btn:after,
.custom-switch-sm .custom-switch-input+.custom-switch-btn:before {
  width: 23px;
  height: 23px;
}

.custom-switch-sm .custom-switch-input+.custom-switch-btn:after {
  left: 2px;
}

.custom-switch-sm .custom-switch-input:checked+.custom-switch-btn:after {
  left: 29px;
}

.custom-switch-sm .custom-switch-form-text {
  height: 31px;
  margin-left: .5rem;
  line-height: 31px;
}
 

.custom-switch-xs {
  line-height: 10px;
}

.custom-switch-xs .custom-switch-input+.custom-switch-btn {
  width: 48px;
  height: 24px;
  padding: 3px;
  border-radius: 48px;
}

.custom-switch-xs .custom-switch-input+.custom-switch-btn:after,
.custom-switch-xs .custom-switch-input+.custom-switch-btn:before {
  width: 18px;
  height: 18px;
}

.custom-switch-xs .custom-switch-input+.custom-switch-btn:after {
  left: 1px;
}

.custom-switch-xs .custom-switch-input:checked+.custom-switch-btn:after {
  left: 24px;
}

.custom-switch-xs .custom-switch-form-text {
  height: 24px;
  margin-left: .5rem;
  line-height: 24px;
}
 

.custom-switch-xs.custom-switch-label-status .custom-switch-input:checked+.custom-switch-btn:after {
  left: 52px;
}

.is-invalid .custom-switch .custom-switch-input~.custom-switch-btn,
.was-validated .custom-switch:invalid .custom-switch-input~.custom-switch-btn {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.25rem #dc3545;
}