@font-face {
  font-family: 'Bebas_Bold';
  src: url('../fonts/font/BebasNeue_Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas_Regular';
  src: url('../fonts/font/Bebas_Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro_Regular';
  src: url('../fonts/font/MyriadPro_Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansThai';
  src: url('../fonts/font/NotoSansThai-CondensedMedium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansThai_m';
  src: url('../fonts/font/NotoSansThai-CondensedSemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fonts/FontAwesome.otf");
  
}

/*ffe46d
561302*/

html {
  scroll-behavior: smooth;
}
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.nox-pad{
  padding: 0px 2px 0px 2px !important;
}
.no5-pad{
  padding: 5px 5px 5px 5px !important;
}
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

a:hover{
  text-decoration: none !important;
}
 
 
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }
  .none-xxs{
    padding: -15px -15px -15px -15px !important;
  }
  .marx-15{
    margin-top: 15px;
  }
  .martop15{
    margin-top: 15px;
  }
  .col.ful{
    text-align: center;
  }
  .img-center{
    display: block;
    margin: auto;
  }
  .bg-top img.top-logo{
    max-width: 100px;
    margin-bottom: -30px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 
  .m-del-top{
    margin-top: -150px;
  }
  .padt10p{
    padding-top: 5px;
  }
  .bg-top img.top-logo{
    max-width: 180px;
    margin-top: -25px;
    margin-bottom: -60px;

  }
}
.bg-top{
  
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/Asset1.png") , url("../images/Home-Member/BG1.png") , url("../images/Home-Member/BG2S.png");
  background-color: #000;
  background-size: 100% auto;
  background-position: top;

}


.ful ul{
  list-style:  none;
  padding-left: 0px;
  margin-bottom: 0;
}
.ful ul li {
  display: inline-block;
  padding: 15px 15px 15px 0px;
}

.ful ul li.l{
  cursor: default;
  color: #fff;
  font-size: 16px;
}

.ful ul li a{
  font-family: 'NotoSansThai';
  color: #fff;
}
.ful ul li a:hover{
  color: #F2AE33;
}
.menu-log{
  background-color: rgba(0,0,0,.6);
}
.menu-log form  {
  padding: 10px;
  padding-bottom: 5px;
}
.menu-log form input.form-control{
  color: #B2B2B2;
  font-size: 12px;
  font-family: 'NotoSansThai';
  background-color: transparent;
  margin-right: 15px;  
  border-radius: 0px;
  border:none;
  padding-left: 5px;
  border-bottom: 2px solid #F2AE33;
}
.menu-log form input.form-control::placeholder {
  color: #B2B2B2;
  font-size: 14px;
  font-family: 'NotoSansThai';
}



a.btn-show{
  width: 100%;
  
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #343a40;
  font-size: 11pt;
  font-family: 'NotoSansThai';
  background-color: #fff;
  border:1px solid #343a40;
  text-align: center;
  cursor: pointer;

}


a.btn-show.active{
  width: 100%;
  
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 11pt;
  font-family: 'NotoSansThai';
  background-color: #343a40;
  border:1px solid #343a40;
  text-align: center;
  cursor: pointer;
}
.menu-log form label{
  float: left; 
}
.menu-log form .remember{
  margin-top: 12px;
 
}
.menu-log form .remember a{
  color: #B2B2B2;
  font-size: 14px;
  font-family: 'NotoSansThai'; 
  margin-left: 15px;
}

.menu-log form .remember a:hover{
  color: #F2AE33;
}
 



.th-x p.text{
  color: #B2B2B2;
  font-size: 16px;
  font-family: 'Bebas_Regular';
  text-transform: uppercase;
  margin-top: 25px;
  float: right;
  margin-left: -15px;  
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 30px;
}
.th-x p.icon{
  right: 0;
  position: absolute;  
  font-size: 22pt;
  position: absolute;
  right: 0;
  top: 0;
  margin-top:  5px;
}
.th-x p.icon .fa-angle-up{
  margin-top: -15px;
  color: #B2B2B2;
}

.th-x p.icon .fa-angle-down{
  margin-top: 30px;
  color: #F2AE33;
}




.gotop{
  background-image: linear-gradient(to right, #ffe56e, #dcab4b, #b47430, #86431a, #571403);
  padding: 4px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 130px;
  margin-right: -30px;
 
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg); 
  z-index: 999;
}
.gotop .box1{
  background-color: #000;
  padding: 2px 4px;
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.gotop .box2{
  background-color: #000;
  width: 40px;
  height: 40px;
  float: left;
  display: inline-block;
  width: 120px;
  margin-left: 4px;  
  cursor: pointer;
}
.gotop .box1 a{
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.gotop .box2 a.m{ 
  padding-top: 8px;
  padding-left: 32px;
  float: left;text-align: center;
  display: inline-block;
}
.gotop .box2 a.m{
  font-family: 'NotoSansThai';
  color: #F2AE33;
  font-size: 14pt; 
}



.bot-tog{
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,.5);
  /*background-color: red;  rgba(0,0,0,.5) */
  width: 100px;  
  margin-left: 60px;
  margin-top: 48px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 6px;
}
.maxh{
  height: 155px;
}
.max15{
  height: 10px;
}
.bot-tog #mainc{  
  border-bottom:4px solid #f2ae33;
  height: 155px;
}
.bot-tog #mainc2{  
  border-bottom:3px solid #f2ae33;
  height: 10px;

}
.bot-tog #mainc h6:nth-child(1){
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  position: absolutenth-child(1)  top: 0;
  padding: 5px;
  background-color: #39B44A;
  width: 120px;
  margin-left: -35px;
  margin-top: 60px;
  text-align: left;
  height: 30px;
}

.bot-tog #mainc h6:nth-child(2){
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  position: absolute;
  top: 0;
  padding: 5px;
  width: 120px;
  padding-left: 0px;
  background-color: #0071BB;
  text-align: left;
  margin-top:60px;  
  margin-left: 9px;
  height: 30px;
}


.bot-tog #mainc h6:nth-child(1) a{
  font-family: 'Bebas_Regular';
  font-size: 12pt;
  color: #fff ;
  padding-left: 15px;

}
.bot-tog #mainc h6:nth-child(2) a{
  font-family: 'Bebas_Regular';
  font-size: 12pt;
  color: #fff ;
  padding-left: 15px;
}

.disp{
  display: none;
}
.disn{
  display:block; 
}

.main-tb{  
 
}

.main-tb .main{
  background-image: linear-gradient(to bottom, #ffe46d, #ddac4b, #b67830, #8b481a, #5e1b05);
  padding: 15px;
  margin-top: -80px;
}



.checkx {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  margin-top: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #B2B2B2;
  font-size: 14px;
  margin-left: 0px;
  font-family: 'NotoSansThai';
}
.checkx:hover{
  color: #F2AE33;
}

.checkx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

.checkx:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkx input:checked ~ .checkmark {
  background-color: #F2AE33;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkx input:checked ~ .checkmark:after {
  display: block;
}

.checkx .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.bg-regis{  
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/Asset1.png") , url("../images/Home-Member/BG1.png") , url("../images/Home-Member/BG2.png");
  background-color: #000;
  background-size: 100% auto;
  background-position: top;

}

.bg-regis img.top-logo{
  max-width: 120px;
  margin-bottom: -30px;
  margin-top: -20px;
}

 
.bg-regis .toph1 .col.text{
  background-image: linear-gradient(to right, #ffe46d, #dcaa4b, #b3742f, #864219, #561302);
  padding: 15px;
}
.bg-regis .toph1 .text h1{
  font-family: 'NotoSansThai';
  color: #000;
  margin-bottom: -3px;
}
.bg-regis .toph1 .box{
  background-color: #1A1A1A;
  padding: 15px;
}

.bg-regis .toph1 .box .m{
  border: 2px solid #333333;
  padding: 30px;
}
.bg-regis .toph1 .box .m .col1{
  border-bottom: 2px solid #333333;
  padding-bottom: 20px;
}
.bgset .toph1 .box{
  background-color: #1A1A1A;
  padding: 15px;
}
.bgset .toph1 .box .m{
  border: 2px solid #333333;
  padding: 30px;
}
.bgset .toph1 .box .m .col1{
  border-bottom: 2px solid #333333;
  padding-bottom: 20px;
}

.bg-regis .toph1 .box .m .col1 span:nth-child(1){
  text-transform: uppercase;
  background-color: #F2AE33;
  color: #000;
  font-family: 'Bebas_Bold';
  font-size: 18px;
  padding: 8px 20px;
  border:2px solid #FFF6CD;
  margin-left: -15px;
}

.bg-regis .toph1 .box .m .col1 span:nth-child(2){ 
  color: #fff;
  font-family: 'NotoSansThai';
  font-size: 20px; 
  margin-left: 15px;
}

.bg-regis .form .tel{
  width: 40px;
  color: #B2B2B2;
  font-size: 14pt;
  font-family: 'Bebas_Regular';
}
.bg-regis .form .tel img{
  width: 40px;
}
.form .tel img{
  width: 40px;
}

.form .tel{
  width: 40px;
  color: #B2B2B2;
  font-size: 14pt;
  font-family: 'Bebas_Regular';
}

.form label{
  color: #fff;
  font-family: 'NotoSansThai';
  margin-top: 1rem;
}
 
.form label span{
  color: #F2AE33;
  font-family: 'Bebas_Regular';
  margin-top: 1rem;
}
.form label.la-h{
  color: #F2AE33;
  font-family: 'Bebas_Regular';
  margin-top: 1rem;
}

.alert-password{
  color: #B2B2B2;
  font-size: 14pt;
  font-family: 'NotoSansThai';
}
.formx{
  color: #B2B2B2;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #F2AE33;
}

.form small{
  color: #B2B2B2;
  font-size: 14pt;
  font-family: 'NotoSansThai';
  margin-top: 5px;
}
.en{
  font-family: 'Bebas_Regular';
}
.th{
  font-family: 'NotoSansThai';
}

.en-p::placeholder {
  font-family: 'Bebas_Regular';
}
.th-p::placeholder {
  font-family: 'NotoSansThai';
}
 



.form .form-group{
  margin-bottom: 0px;
}
footer{
  color: #B2B2B2;
  font-family: 'Bebas_Regular';
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1A1A1A;
}

.btn-box{
  border: 2px solid #333333;
  background-color: #1A1A1A;
  margin-bottom: -60px;
  padding: 15px;
}

.btn-box .tip{  
  border:1px solid #FFF6CD;
}
.btn-box .tip .col{  
  padding: 15px;
}
a.btn-back{
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
}
a.btn-back:hover{
  color: #F2AE33;
}
a.btn-next{
  width: 100%;
  display: block;
  text-align: center;
  color: #000;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #F2AE33;
  padding-top: 13px;
  padding-bottom: 13px;
}
a.btn-add{
  width: 100%;
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #008e45;
  padding-top: 15px;
  padding-bottom: 15px;
}
.filter-option-inner-inner{
  background-color: transparent;
  font-family: 'NotoSansThai';
  font-size: 14pt;
}
.set-sb{
  font-family: 'NotoSansThai';
  font-size: 14pt;
}
.bootstrap-select .dropdown-menu li:nth-child(1) a span.text{
  background: url(../images/Register_Bank/ktb-icon.png);
  background-size: 25px ;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: left;
  font-family: 'NotoSansThai';
  font-size: 14pt !important;
}
.bootstrap-select .dropdown-menu li:nth-child(2) a span.text{
  background: url(../images/Register_Bank/kbank-icon.png);
  background-size: 25px ;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: left;
  font-family: 'NotoSansThai';
  font-size: 14pt !important;
}
.bootstrap-select .dropdown-menu li:nth-child(3) a span.text{
  background: url(../images/Register_Bank/ks-icon.png);
  background-size: 25px ;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: left;
  font-family: 'NotoSansThai';
  font-size: 14pt !important;
}
.bootstrap-select .dropdown-menu li:nth-child(4) a span.text{
  background: url(../images/Register_Bank/scb-icon.png);
  background-size: 25px ;
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: left;
  font-family: 'NotoSansThai';
  font-size: 14pt !important;
}

.bootstrap-select .btn-light {
  border: none !important;
}
.bootstrap-select .btn {
  border-radius: 0px;
}

.home{  
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/Asset1.png") , url("../images/Home-Member/BG1.png") ;
  background-color: #000;
  background-size: 100% auto;
  background-position: top;
}

.home .ful ul{
  list-style:  none;
  padding-left: -10px;
}
.home .ful ul li {
  display: inline-block;
  padding: 15px 15px 15px 0px;
}

.home .ful ul li.l{
  cursor: default;
  color: #fff;
  font-size: 16px;
}

.home .ful ul li a{
  font-family: 'NotoSansThai';
  color: #fff;
}
.home .ful ul li a:hover{
  color: #F2AE33;
}

.home .menu-top{
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/MenuBar-01.png");
  background-size: 100% auto;
  background-position: top;
}

.home .menu-top .left-menu ul{
  list-style:  none;
  padding-left: 15px;
}
.home .menu-top .left-menu ul li{
  display: inline-block;
  width: 105px;
 
  padding-bottom: 15px;
  border-bottom: 4px solid transparent;
}
.home .menu-top .left-menu ul li:hover{
  background-color: rgba(242,174,51,.26);
  border-bottom: 4px solid #F2AE33;
}
.home .menu-top .left-menu ul li.active{
  background-color: rgba(242,174,51,.26);
  border-bottom: 4px solid #F2AE33;
}
.home .menu-top .left-menu ul li a{
  font-family: 'NotoSansThai';
  font-size: 11pt;
  color: #fff;
  display: block;
  margin:auto;
  text-align: center;
  list-style: 40px;
}
.home .menu-top .left-menu ul li a img{
  height: 28px;
  margin-bottom: 5px;
}

.home .menu-top .right-menu ul{
  list-style:  none;
  padding-right: 15px;
}
.home .menu-top .right-menu ul li{
  display: inline-block;
  width: 105px;
  padding-bottom: 15px;
  border-bottom: 4px solid transparent;
}
.home .menu-top .right-menu ul li:hover{
  background-color: rgba(242,174,51,.26);
  border-bottom: 4px solid #F2AE33;
}
.home .menu-top .right-menu ul li.active{
  background-color: rgba(242,174,51,.26);
  border-bottom: 4px solid #F2AE33;
}

.home .menu-top .right-menu ul li a{
  font-family: 'NotoSansThai';
  font-size: 11pt;
  color: #fff;
  display: block;
  margin:auto;
  text-align: center;
  list-style: 40px;
}
.home .menu-top .right-menu ul li a img{
  height: 28px;
  margin-bottom: 5px;
}
.home .menu-top  ul li a:hover{
  color: #F2AE33;
}

.home .menup{
  background-image: linear-gradient(to right, #ffe46d, #dcaa4b, #b3742f, #864219, #561302);
  margin-top: -18px;
  padding: 10px;
  display: inline-block;z-index: 99;
}

img.user-profile{
  height: 60px;
  border-radius: 100%;
  border: 4px solid #F2AE33;
  display: inline-block;
  float: left;
}


img.user-img{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 4px solid #F2AE33;
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}


button.listx{
  color: #000;
  font-size: 18px;
  font-family: 'Bebas_Regular';
  display: inline-block;
  float: left;
  margin-top: 10px;
}
button.dropdown-toggle.listx:active{
  border: none;
}
.menup .dropdown .btn.focus{
  border: none;
}
.menup .dropdown{
  padding: 0px !important;
}
.menup .dropdown .top-user-m{
  text-align: center;
  padding: 10px 15px;
}
.menup .dropdown .top-user-m div{
  border:2px solid #F2AE33;
  padding: 10px 5px;
  cursor: default;
}
.menup .dropdown .top-user-m div img{
  width: 20px;
  margin-top: -6px;
}
.menup .dropdown .top-user-m div span{
  font-size: 16px;
  font-family: 'Bebas_Regular';
  color: #000;
}
.menup .dropdown  .dropdown-menu a.dropdown-item{
  padding-left: 15px;
  background-color: #fff;
  color: #4D4D4D;
  font-family: 'NotoSansThai';
  font-size: 14px;
  border-bottom: 1px solid #F1F1F1;
}
.menup .dropdown  .dropdown-menu a.dropdown-item:hover{
  background-color: #F2AE33;
  color: #fff;
}
.menup .dropdown  .dropdown-menu a.dropdown-item:last-child{
  padding-left: 15px;
  background-color: #F2AE33;
  color: #fff;
}


.menup .dropdown  .dropdown-menu a.dropdown-item img{  
  width: 15px;
  margin-right: 5px;
}
 

.menup .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}

.menup-right{
  float: right;
}
 
.menup-right .th-x p.text{
  color: #fff;
  font-size: 22px;
  font-family: 'Bebas_Regular';
  text-transform: uppercase;
  margin-top: 20px;
  float: right;
  margin-left: -15px;  
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 50px;
}
.menup-right .th-x p.icon{
  right: 0;
  position: absolute;  
  font-size: 14pt;
  position: absolute;
  right: 0;
  top: 0;
  margin-top:  5px;
}
.menup-right .th-x p.icon .fa-angle-up{
  margin-top: 10px;
  color: #B2B2B2;
  margin-right: 20px;
}

.menup-right .th-x p.icon .fa-angle-down{
  margin-top: 30px;
  color: #F2AE33;
  margin-right: 20px;
}

.menup-right .th-x img{
  height: 30px;
  margin-right: 70px;
  margin-top: -5px;
  margin-left: 30px;
}

.main-coin{  
  background-repeat: no-repeat;
  background-image: url("../images/Home-Member/BG2S.png") , url("../images/Home-Member/coin1.png") ;
 
  background-size: 80% auto;
  background-position: top;
  margin-top: -20px;
  z-index: 9;
}



.main-coin .circle-box h1{
  color: #F2AE33;
  text-align: center;
  font-family: 'Bebas_Regular';
 
}
.main-coin .circle-box h5{
  color: #fff;
 
  font-family: 'NotoSansThai';
}
.bg-btn{
  background-color: #1A1A1A;
  padding: 15px;
}

a.deposit {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #008e45;
  padding-top: 10px;
  padding-bottom: 10px;
}
a.withdraw  {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #C0272D;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bgwr{
  background-image: linear-gradient(to right, #ffe46d, #dcaa4b, #b3742f, #864219, #561302);
  padding: 15px;
}
.bgwr h1{
  margin: 0 !important;
  padding: 0 !important;
  color: #000;
  font-family: 'NotoSansThai';  
  margin-bottom: -3px;
}
.bgwr h1.en{
  margin: 0 !important;
  padding: 0 !important;
  color: #000;
  font-size: 28px;
  font-family: 'Bebas_Regular';  
  margin-bottom: -3px;
}
.labelxs{
  text-transform: uppercase;
  background-color: #F2AE33;
  color: #000;
  padding: 8px 20px;
  border:2px solid #FFF6CD;
  margin-top: 15px;
  cursor: pointer;
}

.body1{
  background-color: #1A1A1A;
  padding: 15px;
}

.body1 .stylex{
  border: 2px solid #333333;
  padding: 5px 15px;
  background-color: #1A1A1A;
}

.body1 .stylex .num-cou  {
  padding: 15px !important;
}
.body1 .stylex .num-cou .row .col-4 {
  padding: 2px; 
  padding-top: 5px;
  padding-bottom: 5px; 

}
.body1 .stylex .num-cou .row .col-4 div{
  color: #fff;
  font-family: 'NotoSansThai';
  font-size: 14px;
  border:2px solid #333;
  text-align: center;
  cursor: pointer;
}
.body1 .stylex .num-cou .row .col-4 img{
  width: 24px;
}
.body1 .stylex .num-cou .row .col-4 div.active{
  border:2px solid #fff;
}



.body2 .stylex .num-cou  {
  padding: 15px !important;
}
.body2 .stylex .num-cou .row .col-4 {
  padding: 2px; 
  padding-top: 5px;
  padding-bottom: 5px; 
}
.body2 .stylex .num-cou .row .col-4 div{
  color: #000;
  font-family: 'NotoSansThai';
  font-size: 14px;
  border:2px solid #E5E5E5;
  text-align: center;
  cursor: pointer;
}
.body2 .stylex .num-cou .row .col-4 img{
  width: 30px;
}
.body2 .stylex .num-cou .row .col-4 div.active{
  border:2px solid #000;
}

 




.body1 .stylex .lotto-num  {
  padding: 15px !important;
}
.body1 .stylex .lotto-num .row div {
  padding: 2px; 
  padding-top: 5px;
  padding-bottom: 5px; 
}
.body1 .stylex .lotto-num .row div div{
  color: #fff;
  font-family: 'NotoSansThai';
  font-size: 14px;
  border:2px solid #333;
  text-align: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.body1 .stylex .lotto-num .row div img{
  width: 30px;
}
.body1 .stylex .lotto-num .row div div.active{
  border:2px solid #fff;
}


.body2 .stylex .lotto-num  {
  padding: 15px !important;
}
.body2 .stylex .lotto-num .row div {
  padding: 2px; 
  padding-top: 5px;
  padding-bottom: 5px; 
}
.body2 .stylex .lotto-num .row div div{
  color: #000;
  font-family: 'NotoSansThai';
  font-size: 14px;
  border:2px solid #E5E5E5;
  text-align: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.body2 .stylex .lotto-num .row div img{
  width: 30px;
}
.body2 .stylex .lotto-num .row div div.active{
  border:2px solid #000;
}



.body1 .stylex .col-m{
  border-bottom: 2px solid #333333; 
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.body1 .stylex .col-m span{ 
  color: #fff;
  font-family: 'NotoSansThai';
  margin-left: -15px;
}
.body1 .stylex .col-m span.label{
  text-transform: uppercase;
  background-color: #F2AE33;
  color: #000;
  font-family: 'Bebas_Bold';
  padding: 4px 15px;
  border:2px solid #FFF6CD;
  margin-left: 15px;
}
.body1 .stylex .col-b{
  border: 2px solid #333333; 
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #fff;
  font-family: 'Bebas_Bold';
  font-size: 14px;
}


.body1 .stylex .box3{
  border: 2px solid #333333; 
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top:10px;
}
.body1 .stylex .box3 h3{
  text-align: center;
  font-size: 13pt;
  color: #C0272D;  
  font-family: 'NotoSansThai';
  border-bottom: 2px solid #333333; 
  padding-bottom: 5px;
  margin-top: -4px;
}
.body1 .stylex .box3 h4{
  text-align: center;
  font-size: 12pt;
  color: #fff;  
  font-family: 'Bebas_Bold';
  margin-bottom: -5px;
}
.body1 .stylex .box3 img{
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8px;
  margin-left: 8px;
}


.body2{
  background-color: #fff;
  padding: 15px;
}
.body2 .stylex{
  border: 2px solid #E5E5E5;
  padding:5px 15px;
}
.body2 .stylex  .col-m{
  border-bottom: 2px solid #E5E5E5; 
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.body2 .stylex  .col-m span{ 
  color: #000;
  font-family: 'NotoSansThai';
  font-size: 16px; 
  margin-left: -15px;
}
.body2 .stylex  .col-m span.label{
  text-transform: uppercase;
  background-color: #F2AE33;
  color: #000;
  font-family: 'Bebas_Bold';
  font-size: 16px;
  padding: 4px 15px;
  border:2px solid #FFF6CD;
  margin-left: 15px;
  border-radius: 15px;
}
.body2 .stylex  .col-b{
  border: 2px solid #E5E5E5; 
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #000;
  font-family: 'Bebas_Bold';
  font-size: 14px;
}


.body2 .stylex .box3{
  border: 2px solid #E5E5E5; 
  padding-top: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.body2 .stylex .box3 h3{
  text-align: center;
  font-size: 13pt;
  color: #C0272D;  
  font-family: 'NotoSansThai';
  border-bottom: 2px solid #E5E5E5; 
  padding-bottom: 5px;
  margin-top: -4px;
}
.body2 .stylex .box3 h4{
  text-align: center;
  font-size: 12pt;
  color: #000;  
  font-family: 'Bebas_Bold';
  margin-bottom: -5px;
}




.body-news1{
  background-color: #1A1A1A;
  padding: 30px 15px;
}
.body-news1 .news span{
  background-color: #F2AE33;
  font-size: 14pt;
  color: #000;  
  font-family: 'NotoSansThai';
  padding:4px 10px;
  cursor: default;
}
.body-news1 .news hr{
  border-bottom: 2px solid #F2AE33;
}
.body-news1 .news a{
  font-size: 14pt;
  color: #B2B2B2;  
  font-family: 'NotoSansThai';
}
.body-news1 .news h3{
  margin-top: 10px;
}
.body-news1 .news h3 a{
  font-size: 20pt;
  color: #fff;  
  font-family: 'NotoSansThai';
}




.body-news2{
  background-color: #fff;
  padding: 30px 15px;
}
.body-news2 .news span{
  background-color: #F2AE33;
  font-size: 14pt;
  color: #000;  
  font-family: 'NotoSansThai';
  padding:4px 10px;
  cursor: default;
}
.body-news2 .news hr{
  border-bottom: 2px solid #F2AE33;
}
.body-news2 .news a{
  font-size: 14pt;
  color: #000;  
  font-family: 'NotoSansThai';
}
.body-news2 .news h3{
  margin-top: 10px;
}
.body-news2 .news h3 a{
  font-size: 20pt;
  color: #000;  
  font-family: 'NotoSansThai';
}
.body2 .stylex .box3 img{
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8px;
  margin-left: 8px;
}

a.btn-hide{
  
 
  text-align: center;
  color: #000;
  font-size: 16px;
  font-family: 'NotoSansThai';
  border:2px solid #FFF6CD;
  background-color: #F2AE33;
  padding: 5px 20px;
}


.body1{
  background-color: #1A1A1A;
  padding: 15px;
}

.alert{
  color: #fff;  
  text-align: center;
  font-family: 'NotoSansThai';
  background-color: #F6921E;
  border-radius: 15px;
}



.modal .modal-content{
  border-radius: 0;
}
.modal .close{
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  margin-top: -30px;
}
.modal .close i{
  color: #fff;
  z-index: 1050;
}

.modal p{
  font-size: 30px;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #39B44A;
  display: block;
  margin: auto;
  padding-top: 5px;
  margin-top: 20px;
}
.modal p.wrong{
  font-size: 30px;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #f6921e;
  display: block;
  margin: auto;
  padding-top: 5px;
  margin-top: 20px;
}
.modal h2{
  font-size: 16pt;
  color: #000;  
  text-align: center;
  font-family: 'NotoSansThai';
  margin-top:20px;
  margin-bottom:20px;
}
.modal h3{
  font-size: 14pt;
  color: #4D4D4D;  
  text-align: center;
  font-family: 'NotoSansThai';
  margin-top:20px;
  margin-bottom:20px;
}

.modal .form-check-label{
  font-size: 14pt;
  color: #4D4D4D;  
 
  font-family: 'NotoSansThai';
}


.modal a.btn-ok{
  font-size: 16pt;
  color: #fff;  
  text-align: center;
  font-family: 'NotoSansThai';
  background-color: #39B44A;
  margin-top:20px;
  padding: 5px 20px;
}
.modal a.btn-wrong{
  font-size: 16pt;
  color: #fff;  
  text-align: center;
  font-family: 'NotoSansThai';
  background-color: #C0272D;
  margin-top:20px;
  padding: 5px 20px;
}

 
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  bottom: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #F2AE33;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;

}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #F2AE33;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f030";
  font-family: 'FontAwesome';
  color: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  padding-left: 2px;
  padding-top: 10px;
  text-align: center;
  margin: auto;
  font-size: 16px;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F2AE33;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-date{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  
}
.icon-date img{
  width: 30px;
  margin-top: -25px;
}



.number-list .number{
  background-color: #F1F1F1;
  padding: 15px;
  border: 2px solid  #333333;
}
.number-list .number .maintb{
  background-color: #E5E5E5;
  padding: 0;
  border: 2px solid  #FFFFFF;
}

.number-list .number .maintb .titletb{
  font-size: 16pt;
  color: #000;  
  font-family: 'NotoSansThai';
  background-color: #F2AE33;
  padding: 15px;
}

.number-list .number .maintb .bodytb{
  padding: 15px;
}

a.add-num{
  width: 100%;
  display: block;
  background-color: #009145;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:8px;
  text-align: center;
  border: 2px solid #fff;
}


form.search-bpx input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid #fff;
  float: left;
  width: 70%;
  background: #E5E5E5;
  height: 45px;
  font-size: 16pt;
  color: #fff;  
  font-family: 'Bebas_Regular';
}

form.search-bpx button {
  float: left;
  width: 30%;
  height: 45px;
  background: #F2AE33;
 
  border: 2px solid #fff;
  border-left: none;
  cursor: pointer;
  color: #fff;  
  font-family: 'NotoSansThai';
}





/*form.search-bpx button:hover {
  background: #0b7dda;
}
*/
form.search-bpx::after {
  content: "";
  clear: both;
  display: table;
}


form.search-bpx2 input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid #fff;
  float: left;
  width: 70%;
  color: #000;
  text-align: center;
  background: #E5E5E5;
  height: 40px;
  font-size: 18pt;
  font-family: 'Bebas_Regular';
}

form.search-bpx2 button {
  float: left;
  width: 30%;
  height: 40px;
  background: #F2AE33;
 
  border: 2px solid #fff;
  border-left: none;
  cursor: pointer;
  color: #fff;  
  font-family: 'NotoSansThai';
}
form.search-bpx2::after {
  content: "";
  clear: both;
  display: table;
}

a.random{
  background-color: #b2b2b2;
  color: #fff;
  text-align: center; 
  font-family: 'NotoSansThai';
  font-size: 18px;
  display: block;
  width: 100%;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid white;
}






.table table{
  border: 2px solid #fff;
}
.table table thead{
  background-color: #F2AE33;
  border: 2px solid #fff;
  color: #000;  
  font-family: 'NotoSansThai';

}
.table table tbody{
  color: #4D4D4D;  
  font-family: 'Bebas_Regular';
}

.table table tbody tr:nth-child(odd){
  background-color: #E5E5E5;
}
.table table tbody tr:nth-child(even){
  background-color: #CCCCCC;
}
.table table tbody tr td:nth-child(1){
  width:40%;
}
.table table tbody tr td:nth-child(2){
  width:40%;
}
.table table tbody tr td:nth-child(3){
  width:20%;
}
.table table tbody tr td a{
  color: #4D4D4D; 
  margin-right: 10px; 
}


.table2 table{
  border: 2px solid #fff;
}
.table2 table thead{
  background-color: #F2AE33;
  border: 2px solid #fff;  color: #000;  
  font-family: 'NotoSansThai';
}
.table2 table tbody{
  color: #4D4D4D;  
  font-family: 'Bebas_Regular';
}
.table2 table tbody tr:nth-child(odd){
  background-color: #E5E5E5;
}
.table2 table tbody tr:nth-child(even){
  background-color: #CCCCCC;
}
.table2 table tbody tr td:nth-child(1){
  width:5%;
}
.table2 table tbody tr td:nth-child(2){
  width:30%;
  font-family: 'NotoSansThai';
}
.table2 table tbody tr td:nth-child(3){
  width:65%;
}

.show-tabel{
  font-size: 12pt;
  color: #4D4D4D;  
  font-family: 'NotoSansThai';
  padding-bottom: 15px;
}
.show-tabel input{
  width: 50px;
  font-size: 12pt;
  color: #4D4D4D;  
  font-family: 'Bebas_Regular';
  padding-left: 10px;
}

.next-table ul{
  list-style: none;
  padding: 0;
}
.next-table ul li{
  display: inline-block;
 
  padding: 0;
  text-align: center;
}
.next-table ul li a{
   border: 2px solid #fff;
   padding: 7px 15px;
   margin-left: -5px;
}


.next-table ul li.prev a{
  background-color: #CCCCCC;
  color: #fff;
}
.next-table ul li.numbet a{
  background-color: #E5E5E5;
  color: #4D4D4D;
}
.next-table ul li.next a{
  background-color: #F2AE33;
  color: #fff;
}

.number-list .number .maintb .number-create{
  padding: 15px;
}
.number-list .number .maintb .number-create h3{
  font-size: 14pt;
  color: #4D4D4D;  
}
.number-create form label{
  font-size: 12pt;
  color: #4D4D4D;  
}


.number-create form .form-ex{
  background-color: #F2F2F2;
  border-radius: 0;
}


.number-create form select.form-control{
  color: #4D4D4D;  
  font-family: 'NotoSansThai';
  padding-bottom: 16px;
  background-color: #F2F2F2;
  border-radius: 0;
  padding: 0;
  padding-left: 15px;
}

.number-create form .input-group-append span.input-group-text{
  background-color: #B3B3B3;
  border-radius: 0 !important;
  color: #fff;

}
.number-create form .input-group-append span.input-group-text.active{
  background-color: #F2AE33;
  border-radius: 0px !important;

}

a.btn-create{
  width: 100%;
  display: block;
  background-color: #0071BC;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:4px;
  text-align: center;
  border: 2px solid #fff;
}


a.btn-cancle{
  width: 100%;
  display: block;
  background-color: #B2B2B2;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:4px;
  text-align: center;
  border: 2px solid #fff;
}

a.btn-save{
  width: 100%;
  display: block;
  background-color: #009145;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:4px;
  text-align: center;
  border: 2px solid #fff;
}
.text-hd{
  color: #4D4D4D;
  margin-top: 15px;
  margin-bottom: 15px;  
}
.text-hd .b{
  font-size: 14pt;
  color: #000;  
}

a.btn-del{
  width: 100%;
  display: block;
  background-color: #C1272D;
  color: #fff;  
  font-family: 'NotoSansThai';
  padding:4px;
  text-align: center;
  border: 2px solid #fff;
}



@media only screen and (max-width: 991px) { /* MOBILE */
  footer{
    font-size: 11pt;
  }
  .bg-regis .toph1 .text h1{
    font-size: 18pt;
  }
  .bgwr h1{
    font-size: 18pt;
  }
  .ful ul li a{
    font-size: 14pt;
  }
  .home .ful ul li a{
    font-size: 14pt;
  }
  .btn-x img{ 
    margin-right: 15px;
    margin-top: 20px;
    width: 40%;
    display: block;
    float: left;
  }
  .th-x{
    margin-top: -50px;
  }
  .body1 .stylex .col-m span{ 
    font-size: 14px; 
  }
  .body1 .stylex .col-m span.label{
    font-size: 14px;
  }
  
  .main-coin .circle-box{
    background-color: rgba(0,0,0,.6);
    border-radius: 100%;
    border: 4px solid #a1782f;
    height: 250px;
    width: 250px;
    text-align: center; 
    padding-top: 15%;
  }
  .main-coin .circle-box h1{
    font-size: 30pt;
  }
  .main-coin .circle-box h5{
    font-size: 14pt;
    text-align: center !important; 
  }
  .circle-box img{
    max-width: 80px;
  }
  .labelxs{
    font-size: 13pt;
  }
  .number-list{
    background-color: #1A1A1A;
    padding: 0px;
  }
  a.btn-back{
    font-size: 14pt;
  }
  a.btn-create{
    font-size: 14pt;
  }
  a.btn-cancle{
    font-size: 14pt;
  }
  a.btn-save{
    font-size: 14pt;
  }
  .text-hd{
    font-size: 12pt;
  }
  .table2 table tbody{
    font-size: 12pt;
  }
  a.btn-del{
    font-size: 12pt;
  }
  .table2 table thead{
    font-size: 14pt;
  }
  .home img.top-logo{
    max-width: 120px;
  }
  a.add-num{
    font-size: 14pt;
  }
  form.search-bpx button {
    font-size: 11pt;
  }
  .table table thead{
    font-size: 13pt;
  }
  .table table tbody{
    font-size: 11pt;
  }
  .alert{
    font-size: 12pt;
  }
  a.btn-next{
    font-size: 14pt;
  }
  a.btn-add{
    font-size: 14pt;
  }
  .form label{
    font-size: 14pt;
  }
   
  .form label span{
    font-size: 14pt;
  }
  .form label.la-h{
    font-size: 14pt;
  }
  .formx{
    font-size: 14pt;
  }
  .home .menu-top .left-menu ul li{
    padding-top: 0px;
  }
  .home .menu-top .right-menu ul li{
    padding-top: 0px;
  }
  a.ltxx{
    line-height: 20px;
  }
  a.rtxx{
    line-height: 20px;
  }
  .left-div{
    background-color: #f1f1f1;
 
  }
  .div-xbot{
  
  }
}
@media only screen and (min-width: 992px) { /* PC */
  footer{
    font-size: 14px;
  }
  .bg-regis .toph1 .text h1{
    font-size: 18px;
  }
  .bgwr h1{
    font-size: 28px;
  }
  .ful ul li a{
    font-size: 16px;
  }
  .home .ful ul li a{
    font-size: 16px;
  }
  .btn-x img{
    height:35px;
    margin-right: 15px;
    margin-top: 20px;
  }
  .body1 .stylex .col-m span{ 
    font-size: 16px; 
  }
  .body1 .stylex .col-m span.label{
    font-size: 14px;
  }  
  .main-coin .circle-box{
    background-color: rgba(0,0,0,.6);
    border-radius: 100%;
    border: 4px solid #a1782f;
    height: 400px;
    width: 400px;
    text-align: center; 
    padding-top: 6%;
  }
  .main-coin .circle-box h1{
    font-size: 48pt;
  }
  .main-coin .circle-box h5{
    font-size: 20pt;
  }
  .circle-box img{
    max-width: 140px;
  }
  .labelxs{
    font-size: 14px;
  }
  .number-list{
    background-color: #1A1A1A;
    padding: 30px;
  }
  a.btn-back{
    font-size: 14pt;
  }
  a.btn-create{
    font-size: 14pt;
  }
  a.btn-cancle{
    font-size: 14pt;
  }
  a.btn-save{
    font-size: 14pt;
  }
  .text-hd{
    font-size: 14pt;
  }
  .table2 table tbody{
    font-size: 13pt;
  }
  a.btn-del{
    font-size: 12pt;
  }
  .table2 table thead{
    font-size: 14pt;
  }
  .home img.top-logo{
    max-width: 200px;
    margin-top: -20px;
  }
  a.add-num{
    font-size: 14pt;
  }
  form.search-bpx button {
    font-size: 14pt;
  }
  .table table thead{
    font-size: 14pt;
  }
  .table table tbody{
    font-size: 12pt;
  }
  .alert{
    font-size: 14pt;
  }
  a.btn-next{
    font-size: 16pt;
  }
  a.btn-add{
    font-size: 14pt;
  }
  .form label{
    font-size: 14pt;
  }
   
  .form label span{
    font-size: 14pt;
  }
  .form label.la-h{
    font-size: 14pt;
  }
  .formx{
    font-size: 12pt;
  }
  .home .menu-top .left-menu ul li{
    padding-top: 15px;
  }
  .home .menu-top .right-menu ul li{
    padding-top: 15px;
  }
  a.ltxx{
    line-height: 420px;
  }
  a.rtxx{
    line-height: 420px;
  }
  .left-div{
    background-color: #f1f1f1;
    min-height: 1330px;
  }
  .div-xbot{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.stylex .col-lg-3{
  padding-left: 5px;
  padding-right: 5px;
}

.stylex .row .col{
  padding-left: 2px;
  padding-right: 2px;
}
.stylex .row .col .col{
  padding-left: 5px;
  padding-right: 5px;
}
.stylex .row .col-lg-4{
  padding-left: 5px;
  padding-right: 5px;
}
.stylex  .col-b{
  margin-left: -10px;
  margin-right: -10px;
}

@media only screen and (width:768px) {
  .main-coin .circle-box{
    background-color: rgba(0,0,0,.6);
    border-radius: 100%;
    border: 4px solid #a1782f;
    height: 250px;
    width: 250px;
    text-align: center; 
    padding-top: 6%;
  }
}

.menu-smx {
  margin: auto;
  display: block;
  text-align: center;
}

.menu-smx img{
  width: 22px;
  text-align: center;

}
.menu-smx a{
  font-size: 10px;
  text-align: center;
  float: left;
}



.top-text .img img{
  display: inline-block;
  height: 45px;
  margin-top: 15px;
}

.top-text .text{
  background-color: white;
  border-radius: 30px;
  height: 35px;
  margin-top: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 15px;
  color: #000;
  font-size: 18px;
  font-family: 'NotoSansThai';
}







.top-main .text{
  background-color: white;
  border-radius: 30px;
  height: 35px;
  margin-top: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 15px;
  color: #000;
  font-size: 18px;
  font-family: 'NotoSansThai';
}




.g-icon img{
  height: 25px;
  margin-right: 5px;
  margin-top: 25px;
}
 

.bg-m{
  border: 1px solid #333333; 
  background-color: #1a1a1a;
  padding-top: 15px;
}
.bg-m h3{
  color: #fff;
  font-family: 'NotoSansThai';
  padding-bottom: 15px;
  border-bottom: 1px solid #333333; 
 
  font-size: 20px;
  margin-bottom: 15px;
}

.x-col{
  border: 1px solid #333333; 
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.x-col.active,.x-col:hover{
  border: 1px solid #f2ae33; 
}

.x-col.disable{
  background-color: #393939;
  border: 1px solid #4d4d4d; 
}
.x-col h5{
  color:red;
  font-family: 'NotoSansThai';
  font-size: 16px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.x-col h5 img{
  height: 20px;
}
.x-col span.coltim{
  background-color: #b2b2b2;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #000;
  font-family: 'NotoSansThai';
  padding: 3px 5px;
  margin-top: 10px;
  margin-right: 15px; 
  min-width:25px;
}
.x-col hr{
  border-bottom:2px solid #f2ae33; 
}
.let{
  color: #39b44a;
  font-size: 18px;

}
.ret{
  color: #39b44a;
  float: right;
  font-family: 'Bebas_Regular';margin-bottom: 15px;
  font-size: 18px;
}
.let:hover{
  color: #39b44a;
}
.ret:hover{
  color: #39b44a;
}
.ret span{
  font-family: 'NotoSansThai';  
}


.disable .let{
  color: #be4348;
  font-size: 18px;

}
.disable .ret{
  color: #be4348;
  float: right;
  font-family: 'Bebas_Regular';margin-bottom: 15px;
  font-size: 18px;
}
.disable .let:hover{
  color: #be4348;
}
.disable .ret:hover{
  color: #be4348;
}

span.label-yel{
  text-transform: uppercase;
  background-color: #F2AE33;
  color: #000;
  font-family: 'Bebas_Bold';
  padding: 4px 15px;
  border:2px solid #FFF6CD;
  margin-left: 15px;
  font-size: 16px;
}

 

a.cancle{
  background-color: #c0272d;
  color: #fff;
  width: 100%;
  display: block;
  border:2px solid #fff;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
  font-family: 'NotoSansThai'; 
  font-style: 18px;
}
a.next{
  background-color: #009145;
  color: #fff;
  width: 100%;
  display: block;
  border:2px solid #fff;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
  font-family: 'NotoSansThai'; 
  font-style: 18px;
}

.left-div h4{
  font-size: 20px;
  color: #B2B2B2;
  font-family: 'NotoSansThai'; 
}
.left-div h4 span{
  color:#F2AE33;
  font-family: 'Bebas_Bold';
  text-align: center;
}

.left-div .mt{
  background-color: #e5e5e5;
  color: #4D4D4D;
  font-size: 18px;
  font-family: 'Bebas_Bold';
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}
.left-div .mt span{
  font-family: 'NotoSansThai';  
}
.left-div .ms{
  background-color: #f1f1f1;
  color: #4D4D4D;
  font-size: 18px;
  font-family: 'Bebas_Bold';
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}

.right-div{
  background-color: #f1f1f1;
}
a.get{
  background-color: #b2b2b2;
  width: 100%;
  border: 2px solid white;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  color: #fff;
  font-family: 'NotoSansThai'; 
  text-align: center;
}
a.select{
  background-color: #f2ae33;
  width: 100%;
  border: 2px solid white;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  color: #fff;
  font-family: 'NotoSansThai'; 
  text-align: center;
}


.main-lotto{
  border: 2px solid white;
}

.main-lotto .div-text1{
  border: 2px solid white;
  background-color: #e5e5e5;
  text-align: center;
  padding-top:30px;
  padding-bottom:30px;
  color: #000;
  font-size: 20px;
  font-family: 'NotoSansThai'; 
  margin-top: 15px;
  margin-bottom: 15px;
}

.bot-bor{
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}


.paii div{
  display: inline-block;
  color: #fff;
  border: 2px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Bebas_Bold';
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}
.paii div span{
  font-family: 'NotoSansThai'; 
}
 
.paii div:nth-child(1){
  width: 70%;
  float: left;
  background-color: #F2AE33;
}
.paii div:nth-child(2){
  width: 30%;
  float: left;
  background-color: #fff;
  color: #F2AE33;
}


.padis div{
  display: inline-block;
  color: #fff;
  border: 2px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Bebas_Bold';
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}
.padis div span{
  font-family: 'NotoSansThai'; 
}
 
.padis div:nth-child(1){
  width: 70%;
  float: left;
  background-color: #b2b2b2;
}
.padis div:nth-child(2){
  width: 30%;
  float: left;
  background-color: #fff;
  color: #F2AE33;
}



.div-table{
  border: 2px solid white;
  background-color: #e5e5e5;
}

a.ltxx{
  background-color: #b2b2b2;
  width: 100%;
  display: block;
  color: #fff;
  text-align: center;
  border: 2px solid white;
}
a.rtxx{
  background-color: #F2AE33;
  width: 100%;
  display: block;
  color: #fff;
  text-align: center;
  border: 2px solid white;
}
.div-tablex{
  margin-top: 15px;
  width: 100%;
  font-family: 'Bebas_Bold';
}

.div-tablex thead tr th{
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #b2b2b2;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}
.div-tablex thead tr th.active{
  background-color: #F2AE33;
}

.div-tablex tbody tr td{
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  color: #4D4D4D;
  text-align: center;
}


.x-bot{
  border: 2px solid #fff;
}
.x-bot i{
  color: #F6921E;
}
.x-bot h3{
  color: #4D4D4D;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
  font-family: 'NotoSansThai'; 
}
.x-bot p.h{
  background-color: #F6921E;
  font-family: 'Bebas_Bold'; 
  padding: 10px  5px;
  padding-left: 15px;
  color: #fff;
  margin-bottom: 15px;
}

.x-bot p span{
  font-family: 'NotoSansThai'; 
}

.x-bot p{
  font-family: 'NotoSansThai'; 
  color: #4D4D4D;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.x-bot p span{
  font-family: 'Bebas_Bold'; 
}



.div-xbot a{
  background-color: #F2AE33;
  font-size: 24px;
  border:2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'NotoSansThai'; 
  color: #fff;

}



.time-x{
  color: #39b44a;
  font-size: 18px;
  text-align: right;
  font-family: 'Bebas_Regular';
}
.time-x span{
  font-family: 'NotoSansThai';  

}

.cal .n{
  color: #F2AE33;
  font-size: 60px;
  font-family: 'Bebas_Regular';
  background-color: #fff;
  border:2px solid #e5e5e5;
  width: 100%;
  text-align: center;
  padding-left: -15px;
  padding-right: -15px;
  cursor: default;
}

.cal .text{
  color: #4d4d4d;
  font-size: 18px;
  font-family: 'NotoSansThai';
}

.num-pad{
  border: 2px solid #fff;
  background-color: #e5e5e5;
}
.num-pad .m{
  padding: 10px;
}
.num-pad .number{
  border: 2px solid #fff;
  background-color: #b2b2b2;
  color: #fff;
  font-size: 18px;
  font-family: 'Bebas_Regular';
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.num-pad .cancle{
  border: 2px solid #fff;
  background-color: #f6921e;
  color: #fff;
  font-size: 18px;
  font-family: 'NotoSansThai';
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.num-pad .del{
  border: 2px solid #fff;
  background-color: #c0272d;
  color: #fff;
  font-size: 18px;
  font-family: 'NotoSansThai';
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.num-pad .number.active,.num-pad .number:hover{
  background-color: #F2AE33;
}


.tag-m{
  border: 2px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.tag-m h3{
  font-family: 'NotoSansThai';
  margin-top: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  font-size: 20px;
 
  color: #4d4d4d;
}
.tag-m h3 i{
  color: #39b44a;
}
.tag-m a.tag{
  color: #fff;
  font-family: 'NotoSansThai';
  font-size: 18px;
  background-color: #F2AE33;
  padding: 4px 12px;
  border: 2px solid #fff;
}
.tag-m a.tag span{
  font-family: 'NotoSansThai';
}

.tag-m a.tag2{
  color: #fff;
  font-family: 'NotoSansThai';
  font-size: 18px;
  background-color: #b2b2b2;
  padding: 4px 12px;
  border: 2px solid #fff;
}
.tag-m a.tag2 span{
  font-family: 'NotoSansThai';
}




@media only screen and (max-width: 991px) { /* MOBILE */
  .top-main{
    background-image: linear-gradient(to right, #ffe66f, #dcab4c, #b37430, #85411a, #551202);
    height: 60px;
  }
  .top-main .img img{
    display: inline-block;
 
    margin-top: 15px;
  }
  .money-tap{
    border-radius: 30px;
    height: 30px;
    width: 90px;
    background-color: white; 
    margin-top: 12px;
  }
  .money-tap h3{
    color: black;
    font-size: 16px;
    text-align: center;
    font-family: 'Bebas_Regular';
    padding-top: 6px;
  }
  .money-tap h3 span{
    font-family: 'NotoSansThai';    
  }
  img.user-img{
    margin-top: 10px;
  }
  .fl-m{
    float: right;
  }
  .fa-ellipsis-v.mn{
    color: #fff;
    font-size: 30px;
    margin-top: 13px;
    margin-right: 8px;
  }
  .top-text{
    background-image: linear-gradient(to right, #ffe66f, #dcab4c, #b37430, #85411a, #551202);
    height: 70px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .top-main{
    background-image: linear-gradient(to right, #ffe66f, #dcab4c, #b37430, #85411a, #551202);
    height: 90px;
  }
  .top-main .img img{
    display: inline-block;
    height: 45px;
    margin-top: 15px;
  }
  .money-tap{
    border-radius: 30px;
    height: 35px;
    width: 125px;
    background-color: white;
    margin-right: 5px;
    margin-top: 18px;
  }
  .money-tap h3{
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Bebas_Regular';
    padding-top: 5px;
  }
  .money-tap h3 span{
    font-family: 'NotoSansThai';
    
  }
  img.user-img{
    margin-top: 15px;
  }
  .top-text{
    background-image: linear-gradient(to right, #ffe66f, #dcab4c, #b37430, #85411a, #551202);
    height: 90px;
  }
}


#menuslide {
  display:none; 
  background-color: rgba(0,0,0,0);
  width: 100%;
}
.div-menu{
  position: fixed;
  background-color:#fff;
  top: 0px;
  right: 0px;
  width: 292px;
  height: 100%;
  z-index: 1000;
} 

.data-list .data-list-x {
  padding-left:50px;
  text-align: left;
}
.data-list ul {
  list-style: none;
  padding-left: 0px;
}
.data-list ul li {
  font-size: 16px;
  padding-bottom: 10px;
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
  background-color: #fff;
  border-top: 1px solid #F1F1F1;
}

.data-list ul li a{
  font-family: 'NotoSansThai';
  color: #000 !important;

}
.data-list ul li.last{
  background-color: #F2AE33;
  color: #000 !important;

}
.data-list ul li a img{
  max-height: 20px;
  margin-right: 15px;
}
.data-list ul li:hover{
  background-color: #F2AE33;
}
 
.rig-in{
/*  font-size: 24px;
  right: 0;
  position: absolute;
  margin-right: 15px;*/
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 24px;
  z-index: 999;

}
.rig-in a{
  color: #fff;
}

.m-profile-b{
  background-color: #000;
  padding: 15px;
  z-index: -1;
}

img.user-img2x{
  margin-top: 30px;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  border: 4px solid #F2AE33;
  display: block;
  margin: auto;
}
.m-profile-b h4{
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: 'NotoSansThai';

}
.bg-w2{
  border: 1px solid #333333; 
  background-color: #f1f1f1;
}
.tbp-a{
  border:2px solid #fff;
  margin-top: 15px;
  max-height:240px;
  display: block;
  overflow-y: scroll;
}

.tbp-a::-webkit-scrollbar {
  width: 10px; 
  background: #white; 
}
/* Handle */
.tbp-a::-webkit-scrollbar-thumb {
  background: #F2AE33; 
}

.table-price-add {  
  background-color: #F2AE33;
  margin-bottom: 0px !important;
  height: 200px;
}

.table-price-add thead{
  color: #000;
  font-size: 18px;
  font-family: 'Bebas_Regular';
}
.table-price-add thead span{
  font-family: 'NotoSansThai';
}
.table-price-add tbody tr:nth-child(odd) {
  background-color: #e5e5e5;
}
.table-price-add tbody tr:nth-child(even) {
  background-color: #cccccc;
}
.table-price-add tbody tr td{
  vertical-align: bottom;
}
.table-price-add tbody tr td:nth-child(1){
  color: #4d4d4d;
  font-size: 16px;
  font-family: 'Bebas_Regular';
}
.table-price-add tbody tr td:nth-child(2){
  color: #c1272d;
  font-size: 16px;
  font-family: 'NotoSansThai';
}
.table-price-add tbody tr td:nth-child(2) div{
  width: 90px;
  text-align:center; 
  background-color: #F2AE33;
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-family: 'Bebas_Regular';
}
 
.table-price-add tbody tr td:nth-child(3){

}
.table-price-add tbody tr td:nth-child(3) input{
  width: 120px;
  border: 2px solid #fff;
  height: 35px;
  background-color: #f2f2f2;
  padding-left: 10px;
  font-size: 16px;
  font-family: 'Bebas_Regular';
  /*margin-top: 30px;*/
}
.table-price-add tbody tr td:nth-child(4) h5{
  color: #0071bc;
  font-size: 16px;
  font-family: 'NotoSansThai';
}
.table-price-add tbody tr td:nth-child(4) h6{
  color: #4d4d4d;
  font-size: 16px;
  font-family: 'Bebas_Regular';
}
.table-price-add tbody tr td:nth-child(5){
  color: #4d4d4d;
  font-size: 16px;
  font-family: 'NotoSansThai';
}
.table-price-add tbody tr td:nth-child(5) input{
  width: 120px;
  border: 2px solid #fff;
  height: 35px;
  background-color: #f2f2f2;
  padding-left: 10px;
  font-size: 16px;
  font-family: 'Bebas_Regular';
  /*margin-top: 30px;*/
}
.table-price-add tbody tr td:nth-child(6){
  text-align: right;
}

.table-price-add tbody tr td:nth-child(6) a.fa-trashs{
  border: 2px solid #fff;
  background-color: #b3b3b3;
  padding:6px 10px;
  color: #fff;
}
.table-price-add tbody tr td:nth-child(6) a.fa-trashs.active{
  background-color: #F2AE33;
}

.botxz{
  background-color: #e5e5e5;
  padding: 15px;
  border: 2px solid #fff;
}

.view-num{
  width: 100%;
  display: block;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border:2px solid #fff;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #b3b3b3;
  font-family: 'NotoSansThai';
}
.cut-num{
  width: 100%;
  display: block;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border:2px solid #fff;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f2ae33;
  font-family: 'NotoSansThai';
}
.can-num{
  width: 100%;
  display: block;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border:2px solid #fff;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #c1272d;
  font-family: 'NotoSansThai';
}
.send-num{
  width: 100%;
  display: block;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border:2px solid #fff;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #009145;
  font-family: 'NotoSansThai';
}

.numz a:hover{
  color: #fff;
}


.lnum{
  font-size: 18px;
  color: #000;
  font-family: 'NotoSansThai';
}

.lnum input{
  width: 100%;
  border: 2px solid #fff;
  height: 35px;
  background-color: #f2f2f2;
  padding-left: 10px;
  font-size: 16px;
  font-family: 'Bebas_Regular';
  /*margin-top: 30px;*/
}

.mon-add{
  background-color: #b2b2b2;
  border: 2px solid white;
  color: #fff;
  font-size: 16px;
  font-family: 'Bebas_Regular';
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 0px !important;
}
.mon-add.active,.mon-add:hover{
  background-color: #F2AE33;
}

.show-cedit{
  background-color: #c1272d;
  padding-top: 15px;
  padding-bottom: 15px;
}
.show-sum{
  background-color: #0071bc;
  padding-top: 15px;
  padding-bottom: 15px;
}
.show-cedit h4{
  font-size: 22px;
  color: #000;
  font-family: 'Bebas_Regular';
  text-align: center;
  color: #fff;
}
.show-cedit h5{
  font-size: 18px;
  color: #000;
  font-family: 'NotoSansThai';
  text-align: center;
  color: #fff;
}
.show-cedit h5 span{
  font-family: 'Bebas_Regular';
  text-align: center;
  color: #fff;
}


.show-sum h4{
  font-size: 22px;
  color: #000;
  font-family: 'Bebas_Regular';
  text-align: center;
  color: #fff;
}
.show-sum h5{
  font-size: 18px;
  color: #000;
  font-family: 'NotoSansThai';
  text-align: center;
  color: #fff;
}


.nav-tabsmx .nav-item{
  width: 50%;
}


.nav-tabsmx .nav-tabs{
  border: none;
}
.nav-tabsmx .nav-item{
  padding: 5px;
}
.nav-tabsmx .nav-item .nav-link {
  color: #fff;
  background-color: #1a1a1a;
  font-family: 'NotoSansThai';
  font-size: 22px;
  text-align: center; 
  border: 2px solid white !important;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px !important;
}
.nav-tabsmx .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff !important;
  background-color: #F2AE33 !important;
  font-family: 'NotoSansThai';
  font-size: 22px;
  text-align: center; 
  border: 2px solid white !important;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px !important;
}

.tabx1{
  background-color: #f1f1f1;
 
}

.nav-tabsmx .tab-pane{
  padding: 4px;
}
.table-pull {
  margin-top: 15px;
}
.table-pull thead{
  background-color: #F2AE33;
  color: #000;
  font-family: 'NotoSansThai';
  font-size: 18px;
}
.table-pull tbody tr{
  color: #000;
  font-family: 'Bebas_Regular';
  font-size: 18px;
}
.table-pull tbody tr:nth-child(odd) {
  background-color: #e5e5e5;
}
.table-pull tbody tr:nth-child(even) {
  background-color: #cccccc;
}

.container-chk {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 
.container-chk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
 
.checkmarkx {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #b2b2b2;
  border: 1px solid #fff;
}
 
.container-chk:hover input ~ .checkmarkx {
  background-color: #b2b2b2;
}
 
.container-chk input:checked ~ .checkmarkx {
  background-color: #F2AE33;
}
 
.checkmarkx:after {
  content: "";
  position: absolute;
  display: none;
}
 
.container-chk input:checked ~ .checkmarkx:after {
  display: block;
}
 
.container-chk .checkmarkx:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tb-menu{
  background-color: #e5e5e5;
  border: 2px solid white;
  margin-top: 15px;
  padding: 15px;
  margin-bottom: 0px;
}


.tb-menu .send-num{
  margin-bottom: 0px !important; 
}


/*

F2AE33
b2b2b2

NotoSansThai
Bebas_Regular

*/
